@media only screen and (max-width: 1180px){}

/*CONTENT*/
/*video list*/
.video__list .video__item{
	width: 49.98%;
}
/*video list end*/

/*contacts info*/
.info-container__item {
	width: 99.98%;
}
/*contacts info end*/

/*products*/
/*grid view*/
.grid-view-activated .products__item{
	width: 49.98%;
}
/*grid view end*/
/*products end*/
/*CONTENT end*/

