@media only screen and (max-width: 1279px){}

.nav__list>li>a{
	font-size: 12px;
}
.logo {
	padding: 0 0 0 94px;
	width: 450px;
}
.logo-img{
	width: 70px;
}
.logo-text > b {
	font-size: 14px;
}

.user-options {
	padding-left: 470px;
}
.user-options a span{
	display: none;
}
.user-options a .text-for-mobile{
	display: inline-block;
}

.promo-section-holder .promo-slider,
.promo-section-holder .slick-dotted.slick-slider {
	margin-left: 300px;
}
.promo-slider__content{
	background: -moz-linear-gradient(left,  rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.18) 13%, rgba(255,255,255,0.74) 49%, rgba(255,255,255,0.94) 65%, rgba(255,255,255,1) 72%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0.03) 0%,rgba(255,255,255,0.18) 13%,rgba(255,255,255,0.74) 49%,rgba(255,255,255,0.94) 65%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,0.03) 0%,rgba(255,255,255,0.18) 13%,rgba(255,255,255,0.74) 49%,rgba(255,255,255,0.94) 65%,rgba(255,255,255,1) 72%,rgba(255,255,255,1) 100%);
}

.promo-section .liked {
	float: left;
	width: 260px;
}
.liked__inner {
	padding: 15px 10px 15px 86px;
}
.liked__icon {
	left: 15px;
}

/*news*/
.news__img {
	width: 130px;
	margin-right: 25px;
	margin-bottom: 20px;
}
.news__data{
	width: 130px;
	padding: 3px;
}
/*news end*/
