@media only screen and (max-width: 639px){}
/*MAIN MENU*/
.main-menu__head .logo{
	left: 30px;
}
.main-menu__head .logo {
	margin-left: 0;
}
.main-menu__box{ width: 99.98%; }
.main-menu__content { padding: 30px 0 10px; }
.main-menu__box { padding: 0 30px 30px; }
/*MAIN MENU end*/

/*FOOTER*/
/*footer common*/
.footer-nav__col {
	width: 99.98%;
}
/*footer common end*/

/*footer bottom*/
.footer-bottom-holder { }
/*footer bottom end*/
/*FOOTER end*/
