@media only screen and (max-width: 639px){}
/*MAIN BLOCKS*/
.content{
	border-width: 1px 0;
}
.text-layout,
.breadcrumbs-list,
.user-content .breadcrumbs-list,
.accordion-header {
	padding-left: 20px;
	padding-right: 20px;
}
.text-layout .full-width{
	margin-left: -20px;
	margin-right: -20px;
}
.layout{
	padding-left: 20px;
	padding-right: 20px;
}
.main .layout{
	padding-left: 0;
	padding-right: 0;
}
/*MAIN BLOCKS end*/

/*MAIN MENU*/
.extra-popup__head .logo{
	left: 30px;
}
.extra-popup__head .logo {
	margin-left: 0;
}
.main-menu__box{ width: 99.98%; }
.extra-popup__content { padding: 30px 0 10px; }
.main-menu__box { padding: 0 30px 30px; }
/*MAIN MENU end*/

/*FOOTER*/
/*footer common*/
.footer-nav__col {
	width: 99.98%;
}
/*footer common end*/

/*footer bottom*/
.footer-bottom-holder { }
/*footer bottom end*/
/*FOOTER end*/
