@media only screen and (max-width: 767px){}

/*------ TYPOGRAPHIC STYLES ------*/
h1{
	font-size: 30px;
	line-height: 42px;
}
h2{
	font-size: 24px;
	line-height: 34px;
}
h3{
	font-size: 18px;
	line-height: 32px;
}
/*------ TYPOGRAPHIC STYLES end ------*/

/*MAIN BLOCKS*/
.wrapper{ }
.bg-figure-two{ }
.bg-figure-three{ }
.home-page [class*="bg-figure-"]{ }
.header{ }
.home-page .header{ }
.main {
	padding: 0;
}
.home-page .main{ }
.main-holder{ }
.content-wrap{ }
.content{
	border-width: 1px 0;
}
.home-page .content{ }
.sidebar{ display: none; }
.sidebar-holder{ }
.footer{ }
.text-layout,
.breadcrumbs-list,
.user-content .breadcrumbs-list,
.expander__header {
	padding-left: 20px;
	padding-right: 20px;
}
.text-layout .full-width{
	margin-left: -20px;
	margin-right: -20px;
}
.layout{
	padding-left: 30px;
	padding-right: 30px;
}
.main .layout{
	padding-left: 0;
	padding-right: 0;
}
.header .layout,
.home-page .main .layout{ }
.user-content .bottom-space{
	margin-bottom: 50px;
}
/*MAIN BLOCKS end*/

.user-content blockquote {
	padding-left: 0;
}
.user-content blockquote q{
	font-size: 20px;
	line-height: 26px;
	border-width: 4px;
}
.files .files-item{
	width: 100%;
}

/*HEADER*/
.header-holder { }

/*logo*/
.logo {
	width: 310px;
	padding-left: 84px;
	overflow: hidden;
}
.logo-img { left: 20px; }
.logo-title { height: 32px; }
.logo-title > strong {
	height: 16px;
	margin-top: -8px;
}
.logo-text {
	font-size: 12px;
	line-height: 16px;
}
.logo-text > b{ display: none; }
/*logo end*/
/*HEADER end*/

/*MAIN NAVIGATION*/
.main-nav{ }
/*MAIN NAVIGATION end*/

/*MAIN MENU*/
.main-menu__box{ }
/*MAIN MENU end*/

/*button menu*/
.btn-menu-mobile{ }
/*button menu end*/

/*MAIN*/
/*slider*/
.slick-arrow{ }
/*slider end*/

/*expander*/
.expander__hand {
	padding: 20px 40px 20px 0;
}
.expander__title {
	font-size: 18px;
	line-height: 26px;
}
.accordion-figure + .expander__title {
	width: calc(100% - 122px);
}
.accordion-figure {
	width: 80px;
	height: 80px;
	margin-right: 26px;
}

.expander__angle {
	width: 34px;
	height: 34px;
}

.expander__content{
	padding-bottom: 18px;
}
.expander__frame {
	padding: 18px 20px;
}
.expander__panel .expander{
	width: calc(100% + 40px);
	margin: -18px -20px;
}
.expander__panel .expander__panel {
	padding-left: 20px;
	padding-right: 20px;
}
.expander__panel .expander .expander__frame{
	padding: 18px 20px;
}
.expander__panel .expander__title {
	font-size: 16px;
	line-height: 22px;
}

/*expander end*/

/*flashes*/
.flashes__label {
	float: none;
	width: auto;
	padding-bottom: 20px;
	margin-top: 0;
}
/*flashes end*/

/*tabs*/
.tab-controls li,
.user-content .tab-controls li,
.user-content .tab-controls li:first-child,
.r-tabs .r-tabs-accordion-title {
	padding: 0 10px 15px;
	font-size: 16px;
}
/*tabs end*/

.section-title h1,
.section-title h2,
.section-title h3 {
	font-size: 30px;
	line-height: 38px;
}

/*CONTENT*/
/*promo section*/
.promo-section { }
/*promo slider*/
.promo-slider__content{
	background: -moz-linear-gradient(left,  rgba(255,255,255,0.64) 0%, rgba(255,255,255,0.82) 32%, rgba(255,255,255,0.95) 62%, rgba(255,255,255,1) 77%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0.64) 0%,rgba(255,255,255,0.82) 32%,rgba(255,255,255,0.95) 62%,rgba(255,255,255,1) 77%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,0.64) 0%,rgba(255,255,255,0.82) 32%,rgba(255,255,255,0.95) 62%,rgba(255,255,255,1) 77%,rgba(255,255,255,1) 100%);
}
/*promo slider end*/

.promo-section .liked-list li {
	border-width: 0 0 0 1px;
	width: 49.98%;
}
/*promo section end*/

/*regard*/
.regard-section {
	margin-bottom: 38px;
}
.regard__inner {
	padding: 15px 10px;
}
.depict-regard-number {
	width: 49px;
	height: 22px;
}
[class*="depict-regard"]{
	margin-right: 10px;
}
[class*="depict-regard"] svg{
	width: 30px;
	height: 30px;
}
.regard__inner span {
	width: 140px;
	font-size: 12px;
}
/*regard end*/

/*links*/
.links-section{ }
.links__list { }
.links__list .links__item {
	width: 49.98%;
}
/*links end*/

/*info center*/
.info-center-header {
	font-size: 30px;
	line-height: 38px;
}
/*info center end*/

/*branches*/
.branches-section {
	padding-bottom: 0;
	margin-bottom: 0;
}
.branches-map {
	height: 360px;
}
.meter{
	height: 438px;
}
/*branches end*/

/*video list*/
.video__list{
	margin: 0 -15px;
}
.video__list .video__item{
	width: 49.98%;
	padding: 0 15px 30px;
}
/*video list end*/

/*contacts info*/
.info-container__item {
	width: 99.98%;
	padding-bottom: 20px;
}
/*contacts info end*/

/*contacts map*/
.contacts-map__info{
	position: relative;
	right: auto;
	top: auto;
	width: auto;
	padding: 18px 20px 0;
	max-height: none;
	box-shadow: none;
	border-bottom: 1px solid #d9d9d9;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}
/*contacts map end*/

/*products*/
.products__inner {
	padding: 28px 20px;
}
/*grid view*/
.grid-view-activated .products__item{
	width: 49.98%;
}
.grid-view-activated .products__inner{
	padding-left: 20px;
	padding-right: 20px;
}
.grid-view-activated .products__item .btn-bay {
	bottom: 28px;
}
/*grid view end*/
/*products end*/
/*CONTENT end*/
/*MAIN end*/

/*FOOTER*/
/*footer common*/
.footer-common{ }
/*footer common end*/

/*footer bottom*/
.footer-bottom-holder { }
/*footer bottom end*/
/*FOOTER end*/
