@media only screen and (max-width: 979px){}

/*MAIN BLOCKS*/
.wrapper{ }
[class*="bg-figure-"]{ }
.home-page .bg-figure-one{ display: none; }
.nav-fixed .bg-figure-one{ }
.bg-figure-two{ }
.bg-figure-three{ }
.home-page [class*="bg-figure-"]{ }
.header{ }
.home-page .header{ }
.main{
	padding-bottom: 40px;
}
.home-page .main{
	padding-top: 0;
}
.main-holder{ }
.content-wrap{ }
.content{ margin-left: 0; }
.home-page .content{ }
.sidebar{ display: none; }
.sidebar-holder{ }
.footer{ }
.sheet{ }
.header .layout,
.home-page .main .layout{
	max-width: none;
	padding-left: 0;
	padding-right: 0;
}
/*MAIN BLOCKS end*/

/*HEADER*/
.header-holder {
	padding: 0;
	height: 120px;
	min-height: 0;
}

/*user options*/
.user-options{
	padding: 0;
	position: relative;
	top: auto;
	right: auto;
	width: auto;
	height: 40px;
	text-align: left;
	background: #008acf;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35);
}
.user-options li{
	padding: 0;
}
.user-options li:after{
	content: none;
}
.user-options a{
	font-size: 14px;
	line-height: 40px;
	letter-spacing: 0.05em;
	padding: 0 15px;
	color: #fff;
}
.desktop .user-options a:hover,
.desktop .home-page .user-options a:hover,
.desktop .user-options a:focus,
.desktop .home-page .user-options a:focus{
	color: #fff;
	background: #00619d;
	box-shadow: -1px 0 0 0 #00619d;
}
.user-options svg {
	height: 22px;
	width: 22px;
}
.user-options svg path { fill: #fff; }
.desktop .user-options a:hover svg path,
.desktop .home-page .user-options a:hover svg path,
.desktop .user-options a:focus svg path,
.desktop .home-page .user-options a:focus svg path{
	fill: #fff;
}
.desktop .user-options a:hover span,
.desktop .home-page .user-options a:hover span,
.desktop .user-options a:focus span,
.desktop .home-page .user-options a:focus span{
	border-bottom-color: #fff;
}
.user-options .login-link,
.user-options .search-link{
	position: absolute;
	top: 0;
	right: 0;
	height: 40px;
	width: 40px;
	z-index: 1;
}
.user-options .login-link{
	right: 40px;
	z-index: 1;
}
.user-options .login-link a,
.user-options .search-link a{
	display: block;
	height: 40px;
	text-align: center;
	padding: 0;
	box-shadow: -1px 0 0 0 rgba(255, 255, 255, 0.35);
}
.desktop .user-options a:before{ display: none; }
.user-options a span{ border-color: #fff; }
/*user options end*/

/*logo*/
.logo{ width: 510px; }
.logo-img{
	width: 50px;
	height: 50px;
	left: 30px;
}
.logo:before {
	height: 80px;
}
.logo-title > strong{
	height: 20px;
	margin-top: -10px;
}
.logo-text > b { font-size: 16px; }
/*logo end*/
/*HEADER end*/

/*MAIN NAVIGATION*/
.main-nav{ display: none; }
/*MAIN NAVIGATION end*/

/*MAIN MENU*/
.main-menu__box{
	width: 49.98%;
}
/*MAIN MENU end*/

/*button menu*/
.btn-menu-mobile{
	display: block;
}
/*button menu end*/

/*MAIN*/
/*slider*/
.slick-arrow{
	width: 50px;
	height: 50px;
}
/*slider end*/

/*tabs*/
.r-tabs .tab-controls,
.user-content .tab-controls{
	padding: 0 0 22px;
}
.tab-controls li,
.user-content .tab-controls li,
.user-content .tab-controls li:first-child,
.r-tabs .r-tabs-accordion-title{
	padding: 0 23px 20px;
}
/*tabs end*/

/*CONTENT*/
/*promo section*/
.promo-section { padding: 0; }
/*promo slider*/
.promo-section-holder .promo-slider,
.promo-section-holder .slick-dotted.slick-slider { margin-left: 0; }
.promo-slider__item:before { padding-top: 325px; }
.promo-slider__frame{ width: 400px; }
.promo-slider__title {
	font-size: 24px;
	line-height: 29px;
}
.promo-slider__text {
	font-size: 16px;
	line-height: 24px;
	max-height: 120px;
}
/*promo slider end*/

.promo-section .liked-list li{
	display: inline-block;
	vertical-align: top;
	width: 24.98%;
}
.promo-section .liked{
	float: none;
	width: auto;
}
.promo-section .liked__inner:after {
	height: 60px;
}
.promo-section .liked__inner {
	padding: 10px;
	text-align: center;
}
.promo-section .liked__icon{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: auto;
	left: auto;
	margin-right: 15px;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}
.promo-section .liked__icon svg{
	width: 30px;
	height: 30px;
}
.promo-section .liked__text{
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.05em;
	text-align: left;
	max-height: 60px;
	max-width: calc(98% - 45px);
	width: auto;
}
/*promo section end*/

/*regard*/
.regard-section {
	margin-bottom: 44px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
.regard{
	border-top: 1px solid #d9d9d9;
}
.regard__item{
	background: #fff !important;
	height: 81px;
	border-bottom: 1px solid #d9d9d9;
}
.regard__item:nth-child(even){
	border-left: 1px solid #d9d9d9;
}
.regard__inner {
	padding: 10px 30px;
	text-align: center;
}
[class*="depict-regard"] svg{
	width: 34px;
	height: 34px;
}
.depict-regard-number{
	width: 68px;
	height: 32px;
}
.regard__inner span{
	text-align: left;
}
/*regard end*/

/*links*/
.links-section{ margin-bottom: 44px; }
.links__list { margin: 0 -1px; }
.links__list .links__item{ width: 33.28%; }
.links__icon{
	display: block;
	vertical-align: middle;
	margin: 0 0 14px;
}
.links__icon svg{
	height: 40px;
	width: 40px;
}
.links__frame{
	padding: 0 10px;
	max-width: 240px;
}
.links__content{
	display: block;
	max-width: none;
	text-align: center;
}
.links__content br{
	display: none;
}
.links__title{
	text-align: center;
}
/*links end*/

/*info center*/
.info-center-section {
	margin-bottom: 52px;
}
/*info center end*/

/*branches*/
.branches-section {
	padding: 0 0 40px;
}
.branches{
	padding-left: 0;
}
.branches-map {
	height: 450px;
}
.meter {
	display: block;
	margin: 0 auto;
	position: relative;
	top: auto;
	left: auto;
}
/*branches end*/

/*video list*/
.video__list .video__item{
	width: 33.28%;
}
/*video list end*/

/*contacts info*/
.contacts-info__item {
	width: 49.98%;
}
/*contacts info end*/
/*CONTENT end*/
/*MAIN end*/

/*FOOTER*/
/*footer common*/
.footer-common{
	padding: 30px 0 0;
}
.footer-nav__col{
	width: 49.98%;
}
/*footer common end*/
.footer-bottom-holder {
	padding-top: 12px;
	padding-bottom: 12px;
}
.footer-col{
	display: block;
	text-align: center;
	padding: 6px 0;
}
.copyright{ padding: 0; }
.footer-figure-left { margin-right: 360px; }
.footer-figure-right { margin-left: 400px; }
/*FOOTER end*/