@import url(fonts.css);
@import url(sp.css);
@import url(widgets.css);

/*reset*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*my reset*/
a, input, button{
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
	-webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
	outline: none !important;
}
body{ -webkit-font-smoothing: antialiased; }
body, html{ height: 100%; width: 100%; }
select[disabled]{ cursor: default; }
form { margin:0; padding:0; }
input{ vertical-align: middle; }
input[type=radio], input[type=checkbox], select{ cursor: pointer; }
*:focus{ outline: none; -moz-outline: 3px solid #fff !important; }
input[type="radio"]:focus{ -moz-outline-radius: 12px !important; -moz-outline-offset: 0 !important; }
input[type="checkbox"]:focus{ -moz-outline-offset: -1px !important; -moz-outline: 1px solid #000 !important; }
input::-ms-clear { display: none; }
blockquote, q{ quotes: none; }
blockquote:before, blockquote:after, q:before, q:after{ content: ''; content: none; }
ins{ text-decoration: none; }
del{ text-decoration: line-through; }
fieldset{ border: none; margin: 0; padding: 0; }
table{ border: 0; width: 100%; padding: 0; margin: 0; }
/*my reset end*/
/*reset end*/

/*fonts*/
/*@import url(fonts.css);*/
/*fonts end*/

/*------ TYPOGRAPHIC STYLES ------*/
body{
	font-family: 'lato-light', sans-serif;
	font-size: 16px;
	line-height: 30px;
	height: 100%;
	color: #262626;
	background: #f2f2f2;
	min-width: 320px;
}
body.home-page{
	background: #fff;
}
html.nav-opened{
	width: 100%!important;
	height: 100%!important;
	max-width: 100%!important;
	max-height: 100%!important;
	margin: 0!important;
	padding: 0!important;
	overflow: hidden!important;
}
h1, h2, h3, h4, h5, h6{
	font-weight: normal;
	margin: 0;
	color: #000;
	line-height: 1.4;
}
h1{
	font-family: 'lato-bold', sans-serif;
	font-size: 36px;
	line-height: 42px;
	color: #145f98;
	padding: 0 0 20px;
	overflow: hidden;
}
h2{
	font-family: 'lato-bold', sans-serif;
	font-size: 30px;
	line-height: 36px;
	color: #000;
	padding: 0 0 20px;
}
h3{
	font-family: 'lato-bold', sans-serif;
	font-size: 24px;
	line-height: 32px;
	color: #000;
	padding: 0 0 15px;
}
h4{
	font-family: 'lato-heavy', sans-serif;
	font-size: 16px;
	line-height: 28px;
	color: #999;
	text-transform: uppercase;
	padding: 0 0 10px;
}
h5{
	font-family: 'lato-heavy', sans-serif;
	font-size: 14px;
	color: #999;
	text-transform: uppercase;
	font-weight: 100;
	padding: 0 0 5px;
}
h6{
	font-family: 'lato-heavy', sans-serif;
	font-size: 13px;
	color: #999;
	text-transform: uppercase;
	font-weight: 100;
	padding: 0 0 5px;
}
p{
	padding: 0 0 24px;
	margin: 0;
}
hr{
	line-height: 1px;
	height: 0;
	border: none;
	background: none;
	border-bottom: 1px solid #333;
	margin-bottom: 29px;
}
a{
	color: #008acf;
	outline: none;
	text-decoration: underline;
	cursor: default;
}
a:link{ cursor: pointer; }
.desktop a:hover{ text-decoration: none; }
a[href^="tel"],
.desktop a[href^="tel"]:hover,
a[href^="fax"],
.desktop a[href^="fax"]:hover{
	text-decoration: none !important;
	color: inherit;
	cursor: default;
}
a[href^="javascript:"]{ cursor: default; }
img{
	border: none;
	vertical-align: top;
	max-width: 100%;
}
.mark {
	color: #ff3300;
	font-style: inherit;
	font-weight: inherit;
}
.align-center{ text-align: center; }
.nobr{ white-space: nowrap; }
b, strong, th{
	font-family: 'lato-bold', sans-serif;
	font-weight: normal;
}
i, em{
	font-family: 'lato-light-italic', sans-serif;
	font-style: normal;
}
i b,
i strong,
em b,
em strong,
b i,
b em,
strong i,
strong em{
	font-family: 'lato-bold-italic', sans-serif;
	font-weight: normal;
	font-style: normal;
}
/*------ TYPOGRAPHIC STYLES end ------*/

/*MAIN BLOCKS*/
.wrapper{
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.bg-figure{
	position: absolute;
	right: -550px;
	top: -550px;
	width: 1100px;
	height: 1100px;
	background: #008acf;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.header{
	background: #fff;
	position: relative;
	z-index: 5;
}
.home-page .header{
	background: none;
}
.main{
	padding: 30px 0 100px;
	position: relative;
	clear: both;
	z-index: 4;
}
.main-holder{
	width: 100%;
}
.main-holder:before,
.main-holder:after { content: ""; display: table; }
.main-holder:after { clear: both; }
.content-wrap{
	float: left;
	width: 100%;
}
.content{
	margin: 0 0 0 320px;
	min-height: 50px;
	box-sizing: border-box;
	border: 1px solid #d9d9d9;
	background: #fff;
}
.home-page .content{
	margin: 0;
	border-color: transparent;
	background: none;
}
.sidebar{
	display: inline;
	float: left;
	margin: 0 0 0 -100%;
	width: 281px;
}
.footer{
	position: relative;
	clear: both;
	z-index: 5;
}
.sheet{
	padding: 38px 40px;
}
.layout{
	max-width: 1280px;
	margin: 0 auto;
	box-sizing: border-box;
}
/*MAIN BLOCKS end*/

/*sp*/
/*@import url(sp.css);*/
/*sp end*/

/*btn*/
[class|="btn"],
[class*=" btn-"],
input[type="submit"],
input[type="button"],
input[type="reset"],
button{
	display: inline-block;
	vertical-align: top;
	position: relative;
	text-align: center;
	text-decoration:none;
	box-sizing: border-box;
}
[class|="btn"] input[type="submit"],
[class*=" btn-"] input[type="submit"],
[class|="btn"] input[type="button"],
[class*=" btn-"] input[type="button"],
[class|="btn"] input[type="reset"],
[class*=" btn-"] input[type="reset"]{
	background: url("../img/empty.png") repeat;
	cursor: pointer;
	display: block;
	height: 100%;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	border:0;
	opacity: 0;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

/*btn-default*/
[class*="btn-default"]{
	position: relative;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	padding: 12px 25px;
	border: 1px solid transparent;
	background: #d32e2e;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	box-sizing: border-box;
	-webkit-transition-property: color, background, box-shadow, -webkit-transform;
	transition-property: color, background, box-shadow, transform;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
[class*="btn-default"]:hover{
	background: #b41e18;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
	-webkit-transform: translate(0, -4px);
	-ms-transform: translate(0, -4px);
	transform: translate(0, -4px);
}
[class*="btn-default"]:active{
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}
/*btn-default end*/

/*btn-default-alt*/
.btn-default-alt{
	color: #d32e2e;
	border: 2px solid #d32e2e;
	background: #fff;
}
.btn-default-alt:hover{
	background: #b41e18;
	color: #fff;
}
/*btn-default-alt end*/
/*btn end*/

/*USER CONTENT*/
.user-content p+h2,
.user-content ul+h2,
.user-content ol+h2,
.user-content p+h3,
.user-content ul+h3,
.user-content ol+h3,
.user-content p+h4,
.user-content ul+h4,
.user-content ol+h4,
.user-content p+h5,
.user-content ul+h5,
.user-content ol+h5{
	padding-top: 10px;
}

/*list*/
.user-content ul,
.user-content ol{
	margin: 0;
	padding: 0 0 22px;
	list-style: none;
}
.user-content ol{ counter-reset: section; }
.user-content ul li,
.user-content ol li{
	padding: 20px 0 0 27px;
	position: relative;
}
.user-content ol > li{
	counter-increment: section;
	height: 1%;
	overflow: hidden;
	padding-left: 27px;
}
.user-content ul li:first-child,
.user-content ol > li:first-child{
	padding-top: 0;
}
.user-content ul > li:before,
.user-content ol ul > li:first-child:before{
	content: '';
	position: absolute;
	left: 0;
	top: 32px;
	height: 0;
	width: 0;
	border: 3px solid #ff3300;
	border-radius: 3px;
	box-sizing: border-box;
}
.user-content ul > li:first-child:before{ top: 12px; }
.user-content ol > li:before{
	position: relative;
	display: inline-block;
	text-align: left;
	font-family: 'lato-bold', sans-serif;
	font-size: 12px;
	color: #ff3300;
	content: counter(section) ;
	padding: 0 4px 0 0;
	min-width: 27px;
	margin-left: -27px;
	box-sizing: border-box;
}
.user-content ul ul,
.user-content ul ol,
.user-content ol > li > ul{
	padding-bottom: 0;
	padding-left: 0;
}
.user-content ul ul > li:before,
.user-content ul ul > li:first-child:before,
.user-content ol ul ul > li:before,
.user-content ol ul ul > li:first-child:before{
	height: 0;
	width: 10px;
	border-width: 1px 0;
	border-radius: 0;
	top: 34px;
}
.user-content ul ul li:first-child,
.user-content ul ol li:first-child,
.user-content ol ol li:first-child,
.user-content ol ul li:first-child{
	padding-top: 20px;
}
.user-content ul ul ul > li:before,
.user-content ul ul ul > li:first-child:before,
.user-content ul ol ul > li:before,
.user-content ul ol ul > li:first-child:before{
	height: 6px;
	width: 6px;
	top: 32px;
	border-width: 3px;
}
/*list end*/

/*default table*/
table{
	border-collapse: collapse;
	border-spacing: 0;
	width: auto;
}
table td,
table th{
	padding: 8px;
	border: 1px solid #99bddb;
	font-size: 14px;
	line-height: 1.4;
}
/*default table end*/

/*table styling*/
.table_auto{
	overflow: auto;
	max-width: 100%;
	-webkit-overflow-scrolling: touch;
	margin: 0 0 20px;
}
.user-content .tbl{
	table-layout: fixed;
	border: 1px solid #99bddb;
	margin-bottom: 20px;
}
.table_auto .tbl{
	margin: 0;
}
.user-content .tbl td,
.user-content .tbl th{
	font: 14px/20px Arial, Helvetica, sans-serif;
	color: #333;
	background-color: #fff;
	border: solid #99bddb;
	border-width: 0 0 0 1px;
	padding: 13px 12px;
}
.user-content .tbl tbody tr:nth-child(even) td{
	background: #e5eef6;
}
.user-content .tbl td:first-child{
	text-align: left;
}
.user-content .tbl tbody td:first-child,
.user-content .tbl tfoot td:first-child{
	border-left-width: 0;
}
.user-content .tbl th,
.user-content .tbl thead td{
	line-height: 17px;
	color: #fff;
	background: #0059a6;
	padding: 16px 12px 17px;
}
.user-content .tbl tfoot td{
	background: #e5eef6;
}
/*table styling end*/

/*blockquote*/
.user-content blockquote{
	display: block;
	padding: 0 20px 30px;
	max-width: 600px;
	margin: 0 auto;
}
.user-content blockquote q{
	display: block;
	margin: 0 0 20px;
	padding: 0 0 0 20px;
	font-family: 'lato-italic', sans-serif;
	font-size: 24px;
	line-height: 30px;
	color: #000;
	border-left: 8px solid #ff3300;
}
.user-content blockquote q:before,
.user-content blockquote q:after{
	content: '';
	display: block;
	font-size: 24px;
	line-height: 28px;
}
.user-content blockquote q:before,
.user-content blockquote q:after{
	content: none;
}
.user-content blockquote cite{
	text-align: right;
	display: block;
	margin-left: auto;
	font-family: 'lato-light-italic', sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #999;
}
/*blockquote end*/

/*content img*/
.imgc{
	text-align: center;
	padding-bottom: 30px;
	clear: both;
}
.imgl{
	text-align: left;
	float: left;
	margin: 0 30px 20px 0;
	max-width: 50%;
}
.imgr{
	text-align: right;
	float: right;
	margin: 0 0 20px 30px;
	max-width: 50%;
}

@media only screen and (max-width: 767px){
	.imgl, .imgr{
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: none;
	}
}
/*content img end*/

/*FORM STYLES*/
/*form common*/
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea{
	display: block;
	color: #333;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: normal;
	height: 50px;
	width: 100%;
	padding: 12px 18px;
	background: #fff;
	box-shadow: none;
	border: 1px solid #0059a6;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	box-sizing: border-box;
	margin: 0 0 28px;
}
.input-wrap input[type="text"],
.input-wrap input[type="password"],
.input-wrap input[type="email"],
.input-wrap input[type="search"],
.input-wrap textarea{
	margin: 0;
}
textarea{
	padding: 12px 18px;
	min-height: 114px;
	height: 114px;
	resize: vertical;
}
/*form common end*/

/*form placeholder*/
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{ color: #666; transition: 0.2s; -webkit-transition: 0.2s; }
input:-moz-placeholder,
textarea:-moz-placeholder{ color: #666; transition: 0.2s; -webkit-transition: 0.2s; }
input::-moz-placeholder,
textarea::-moz-placeholder{ color: #666; opacity: 1; transition: 0.2s; -webkit-transition: 0.2s; }
input:-ms-input-placeholder,
textarea:-ms-input-placeholder{ color: #666; opacity: 1; transition: 0.2s; -webkit-transition: 0.2s; }
input.placeholder,
textarea.placeholder{ color: #666; opacity: 1; transition: 0.2s; -webkit-transition: 0.2s; }
/*form placeholder end*/

/*form placeholder hide*/
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder{ color: transparent !important; }
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder{ color: transparent !important; }
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder{ color: transparent !important; }
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder{ color: transparent !important; }
input.placeholder:focus,
textarea.placeholder:focus{ color: transparent !important; }
/*form placeholder hide end*/

/*form focus*/
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus{
	box-shadow: inset 0 0 5px #0059a6;
}
/*form focus end*/

/*form error*/
input[type="text"].error,
input[type="password"].error,
input[type="email"].error,
input[type="search"].error,
textarea.error{
	color: #d32e2e;
	border-color: #d32e2e;
	box-shadow: 0 0 5px rgba(211, 46, 46, 0.4);
}
/*form error end*/

/*form error placeholder*/
input.error::-webkit-input-placeholder,
textarea.error::-webkit-input-placeholder{ color: #d32e2e; }
input.error:-moz-placeholder,
textarea.error:-moz-placeholder{ color: #d32e2e; }
input.error::-moz-placeholder,
textarea.error::-moz-placeholder{ color: #d32e2e; opacity: 1; }
input.error:-ms-input-placeholder,
textarea.error:-ms-input-placeholder{ color: #d32e2e; opacity: 1; }
input.error .placeholder,
textarea.error .placeholder{ color: #d32e2e; opacity: 1; }
/*form error placeholder end*/

/*form checkbox and radiobutton*/
.checkbox-list,
.user-content .checkbox-list,
.radio-list,
.user-content .radio-list{
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 24px;
}
.checkbox-list li,
.user-content .checkbox-list li,
.user-content .checkbox-list li:first-child,
.radio-list li,
.user-content .radio-list li,
.user-content .radio-list li:first-child{
	position: relative;
	padding: 0 0 20px;
}
.checkbox-list li:before,
.user-content .checkbox-list li:before,
.radio-list li:before,
.user-content .radio-list li:before{
	content: none;
}

input[type="checkbox"] + label,
input[type="radio"] + label,
.check-label,
.radio-label{
	display: inline-block;
	vertical-align: top;
	color: #000;
	text-transform: none;
	cursor: pointer;
	position: relative;
}
input[type="checkbox"] + label:before,
.check-label>span>i:before{
	content: '';
	height: 18px;
	width: 18px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -9px;
	border-radius: 0;
	border: 1px solid #ff3300;
	box-sizing: border-box;
}
input[type="checkbox"] + label:after,
input[type="checkbox"] + span>i:after{
	content: '';
	height: 16px;
	width: 16px;
	position: absolute;
	left: 1px;
	top: 50%;
	margin-top: -8px;
	border-radius: 0;
	background: none;
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
input[type="checkbox"] + label>span,
input[type="radio"] + label>span,
input[type="checkbox"] + span,
input[type="radio"] + span{
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 2px 0 2px 34px;
	z-index: 2;
}

input[type="checkbox"]{ width: 16px; height: 16px; padding: 0; margin: 0; }
input[type="checkbox"] { display:none }
input[type="checkbox"] + label>span:before,
input[type="checkbox"] + label>span:after,
input[type="checkbox"] + span:before,
input[type="checkbox"] + span:after{
	content: '';
	position: absolute;
	height: 3px;
	width: 0;
	left: 0;
	top: 50%;
	border-radius: 2px;
	background: #ff3300;
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
input[type="checkbox"] + label>span:before,
input[type="checkbox"] + span:before{
	transform: rotate(45deg);
	transform-origin: 0 7px;
	z-index: 1;
}
input[type="checkbox"] + label>span:after,
input[type="checkbox"] + span:after{
	transform: rotate(-50deg);
	transform-origin: 0 10px;
	left: 22px;
}
input[type="checkbox"]:checked + label>span:before,
input[type="checkbox"]:checked + span:before{
	width: 7px;
	margin: -4px 0 0 0;
	-webkit-transition-property: width;
	transition-property: width;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
input[type="checkbox"]:checked + label>span:after,
input[type="checkbox"]:checked + span:after{
	width: 11px;
	margin: 0 0 0 -8px;
	-webkit-transition-property: width;
	transition-property: width;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:checked + span>i:after{
	/*opacity: 0;*/
}
input[type="checkbox"]:disabled + label,
input[type="checkbox"]:disabled + span>i{
	color: #bdbdbd;
}
input[type="checkbox"]:disabled + label:before,
input[type="checkbox"]:disabled + span>i:before{
	border-color: #d6d6d6;
}
input[type="checkbox"]:disabled + label>span:before,
input[type="checkbox"]:disabled + label>span:after,
input[type="checkbox"]:disabled + span:before,
input[type="checkbox"]:disabled + span:after{
	background: #b9b9b9;
}

input[type="radio"]{ float: left; height: 16px; width: 16px; margin: 0; padding: 0; }
input[type="radio"] { display:none }
input[type="radio"] + label:before,
input[type="radio"] + span:before{
	content: '';
	height: 18px;
	width: 18px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -9px;
	border-radius: 50px;
	border: 1px solid #ff3300;
	box-sizing: border-box;
}
input[type="radio"] + label:after,
input[type="radio"] + span:after{
	content: '';
	height: 16px;
	width: 16px;
	position: absolute;
	left: 1px;
	top: 50%;
	margin-top: -8px;
	border-radius: 50px;
	background: none;
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
input[type="radio"] + label>span:after,
input[type="radio"] + span>i:after {
	content:'';
	width:10px;
	height: 10px;
	position: absolute;
	top: 50%;
	left: 4px;
	margin-top: -5px;
	border-radius: 50%;
	overflow: hidden;
	background: #ff3300;

	-webkit-animation:bounceout 0s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;

	animation:bounceout 0s;
	animation-iteration-count:1;
	animation-fill-mode:forwards;

}

input[type="radio"]:checked + label>span:after,
input[type="radio"]:checked + span>i:after {
	-webkit-animation:bounce 0.3s;
	-webkit-animation-iteration-count:1;

	animation:bounce 0.3s;
	animation-iteration-count:1;
}

@-webkit-keyframes bounce {
	0%  { -webkit-transform:scale(0.8); opacity:0.4}
	50% { -webkit-transform:scale(1.4); opacity:1}
	100%{ -webkit-transform:scale(1); opacity:1}
}
@keyframes bounce {
	0%  { transform:scale(0.8); opacity:0.4}
	50% { transform:scale(1.4); opacity:1}
	100%{ transform:scale(1); opacity:1}
}
@-webkit-keyframes bounceout {
	0%  { -webkit-transform:scale(0); opacity:1;}
	50% { -webkit-transform:scale(1.4); opacity:1;}
	100%{ -webkit-transform:scale(0); opacity:0.4;}
}
@keyframes bounceout {
	0%  { transform:scale(0); opacity:1;}
	50% { transform:scale(1.4); opacity:1;}
	100%{ transform:scale(0); opacity:0.4;}
}

input[type="radio"]:disabled + label,
input[type="radio"]:disabled + span{ color: #bdbdbd; }
input[type="radio"]:disabled + label:before,
input[type="radio"]:disabled + span:before{ border-color: #d6d6d6; }
input[type="radio"]:disabled + label>span:after,
input[type="radio"]:disabled + span>i:after{ background: #b9b9b9; }
/*form checkbox and radiobutton end*/

/*form layout*/
.form-row,
.input-wrap{ padding: 0 0 28px; }
.form-row{
	margin: 0 -15px;
	font-size: 0;

	letter-spacing: -4px;
}
.form-row .input-wrap{
	display: inline-block;
	vertical-align: top;
	width: 49.98%;
	padding: 0 15px;
	box-sizing: border-box;

	font-size: 16px;
	letter-spacing: normal;
}
@media only screen and (max-width: 639px){
	.form-row .input-wrap{
		display: block;
		width: auto;
		margin-bottom: 28px;
	}
}
.label-holder{ padding: 0 0 10px; }
.label-holder,
label{
	font-size: inherit;
	line-height: inherit;
	color: #333;
}
.form-mark{
	display: inline-block;
	vertical-align: top;
	color: #ff3300;
}
/*form layout end*/

/*form select*/
.select{
	position: relative;
	margin: 0;
	background: #fff;
	border: 1px solid #0059a6;
	display: block;
	box-sizing: border-box;
}
.select select{
	display: block;
	font: 14px/16px Arial, Helvetica, sans-serif;
	color: #333;
	-webkit-font-smoothing: antialiased;
	padding: 16px 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	white-space: nowrap;
	text-indent: 0;
	text-overflow: '';
	width: 100%;
	border: none;
	background: transparent;
	overflow: hidden;
	cursor: pointer;
	border-radius: 4px;
	box-sizing: border-box;
	outline: none;
}
.select:before,
.select:after{
	content: '';
	position: absolute;
	right: 20px;
	top: 50%;
	height: 0;
	width: 8px;
	margin-top: -2px;
	border-top: 2px solid #0059a6;
	box-sizing: border-box;
}
.select:before{
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.select:after{
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	right: 15px;
}
/*form select end*/
/*FORM STYLE end*/

/*download files items*/
/*depict files*/
[class|="depict-files"],
[class*=" depict-files-"]{
	background:url(../img/sprite-files.png) 0 0 no-repeat;
	display: inline-block;
	vertical-align: top;
}
.depict-files-pdf{ background-position: 0 0; width: 39px; height: 46px; }
.depict-files-xls{ background-position: 0 -66px; width: 39px; height: 46px; }
.depict-files-doc{ background-position: 0 -132px; width: 39px; height: 46px; }
.depict-files-zip{ background-position: 0 -198px; width: 39px; height: 46px; }
.depict-files-jpg{ background-position: 0 -264px; width: 39px; height: 46px; }
/*depict files end*/

/*files item*/
.files{
	padding: 0 0 20px;
	margin-left: -30px;
	font-size: 0;
	letter-spacing: -4px;
}
.files-item{
	font-size: 14px;
	line-height: 18px;
	letter-spacing: normal;
}
.files .files-item{
	display: inline-block;
	vertical-align: top;
	width: 33.29%;
	padding: 0 0 48px 30px;
}
.file{
	font-size: 14px;
	line-height: 18px;
	padding: 0 0 0 53px;
	position: relative;
	min-height: 46px;
}
.file__title{
	padding: 5px 0 7px;
}
.file__title a{
	text-decoration: none;
	margin: 0 0 0 -53px;
	display: inline-block;
	padding: 0 0 0 53px;
}
.file__title a span{
	padding-top: 5px;
	text-decoration: underline;
}
.file__title a:hover span{
	text-decoration: none;
}
.file [class*="depict-files-"]{
	position: absolute;
	left: 0;
	top: 0;
}
.file__info{
	color: #666;
}
/*files item end*/
/*download files items end*/

/*view print*/
.view-print{
	float: right;
	padding: 6px 12px;
	background: #f9f9f9;
	line-height: 1;
	color: #000;
	text-decoration: none;
	margin-left: 30px;
	-webkit-transition-property: background;
	transition-property: background;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.desktop .view-print:hover{
	background-color: #eaeaea;
}
.view-print svg{
	vertical-align: middle;
	width: 16px;
	margin-right: 5px;
}
.view-print span{
	display: inline-block;
	vertical-align: middle;
}
@media only screen and (max-width: 979px){
	.view-print{ font-size: 14px; }
}
@media only screen and (max-width: 639px){
	.view-print svg{
		vertical-align: top;
		margin-right: 0;
	}
	.view-print span{ display: none; }
}
/*view print end*/
/*USER CONTENT end*/

/*HEADER*/
.header-holder{
	padding: 40px 0 80px;
	overflow: hidden;
}
.header-holder:before,
.header-holder:after { content: ""; display: table; }
.header-holder:after { clear: both; }
/*logo*/
.logo{
	float: left;
	position: relative;
	padding: 0 0 0 120px;
	width: 510px;
	box-sizing: border-box;
	text-decoration: none;
	color: #262626;

	font-size: 0;
	letter-spacing: -4px;
	white-space: nowrap;
}
.logo:before{
	content: '';
	display: inline-block;
	font-size: 16px;
	vertical-align: middle;
}
.logo-img{
	position: absolute;
	top: 50%;
	left: 0;
	width: 90px;
	text-indent: -9999px;
	background: url(../img/logo.png) no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.logo-img,
.logo:before{
	height: 102px;
}
.logo-text{
	display: inline-block;
	vertical-align: middle;
	width: 98%;
	font-size: 14px;
	line-height: 17px;

	white-space: normal;
	letter-spacing: normal;
}
.logo-title{
	display: block;
	position: relative;
	z-index: 1;
	height: 34px;
}
.logo-title > strong{
	position: absolute;
	left: 0;
	top: 50%;
	background: url(../img/logo-text.png) no-repeat;
	width: 100%;
	height: 22px;
	margin-top: -13px;
	-webkit-background-size: contain;
	background-size: contain;
	font-size: 0;
	line-height: 0;
	-webkit-transition-property: -webkit-transform, opacity, visibility;
	transition-property: transform, opacity, visibility;
	-webkit-transition-duration: 0.45s;
	transition-duration: 0.45s;
	-webkit-transition-delay: 0.12s;
	transition-delay: 0.12s;
	-webkit-transition-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
	transition-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.desktop a:hover .logo-title > strong{
	opacity: 0;
	visibility: hidden;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-transform: translate(0, -120%);
	-ms-transform: translate(0, -120%);
	transform: translate(0, -120%);
}
.logo-title > span{
	display: block;
	max-width: 360px;
	min-height: 36px;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translate(0, 100%);
	-ms-transform: translate(0, 100%);
	transform: translate(0, 100%);
	-webkit-transition-property: -webkit-transform, opacity, visibility;
	transition-property: transform, opacity, visibility;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-transition-delay: 0.12s;
	transition-delay: 0.12s;
	-webkit-transition-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
	transition-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.desktop a:hover .logo-title > span{
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-transition-duration: 0.45s;
	transition-duration: 0.45s;
}
.logo-text > b{
	display: block;
	position: relative;
	font-size: 16px;
	line-height: 24px;
}
/*logo end*/

/*user options*/
.user-options{
	list-style: none;
	padding: 0 0 0 530px;
	margin: 0;
	line-height: 1;
	text-align: right;
}
.user-options li{
	display: inline-block;
	text-align: left;
	padding-left: 20px;
}
.user-options li:after{
	content: '';
	display: inline-block;
	vertical-align: middle;
	padding-left: 20px;
	height: 25px;
	border-right: 1px solid rgba(255, 255, 255, 0.34);
}
.user-options li:last-child:after{
	content: none;
}
.user-options a{
	font-family: 'lato-regular', sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #262626;
	text-decoration: none;
}
.home-page .user-options a{
	color: #fff;
}
.user-options svg{
	height: 26px;
	vertical-align: middle;
	margin-right: 6px;
}
.user-options svg path,
.user-options svg line,
.user-options svg polygon {
	-webkit-transition-property: fill, stroke;
	transition-property: fill, stroke;
	-webkit-transition-duration: 0.12s;
	transition-duration: 0.12s;
	stroke: #262626;
	fill: #262626;
}
.home-page .user-options svg path,
.home-page .user-options svg line,
.home-page .user-options svg polygon {
	stroke: #fff;
	fill: #fff;
}
.user-options a span{
	border-bottom: 1px dotted #262626;
	vertical-align: middle;
}
.home-page .user-options a span{
	border-color: #fff;
}
.desktop .user-options a:hover span,
.desktop .home-page .user-options a:hover span{
	border-bottom-color: transparent;
}
/*user options end*/
/*HEADER end*/

/*MAIN NAVIGATION*/
.main-nav{
	position: relative;
	min-height: 80px;
	padding-left: 81px;
	margin-top: -40px;
	z-index: 6;
}
.nav-opened-start .wrapper{ z-index: 99; } /*z-index of header must be greater than footer*/

@media only screen and (min-width: 980px){
	.nav{
		-webkit-transform: translate(0, 0) matrix(1, 0, 0, 1, 0, 0) !important;
		-ms-transform: translate(0, 0) matrix(1, 0, 0, 1, 0, 0) !important;
		transform: translate(0, 0) matrix(1, 0, 0, 1, 0, 0) !important;
	}
	.nav-list > li{
		-webkit-transform: translate(0, 0) matrix(1, 0, 0, 1, 0, 0) !important;
		-ms-transform: translate(0, 0) matrix(1, 0, 0, 1, 0, 0) !important;
		transform: translate(0, 0) matrix(1, 0, 0, 1, 0, 0) !important;
		opacity: 1 !important;
		visibility: visible !important;
	}
}

/*general styles main navigation*/
.nav__list,
.nav__list ul{
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
}
.nav__list{
	display: table;
	width: 100%;
	height: 100%;
	table-layout: fixed;
}
.nav__list li{
	position: relative;
	letter-spacing: -4px;
	box-sizing: border-box;
}
.nav__list li>a,
.nav-cloned{
	display: block;
	position: relative;
	padding: 0;
	font-family: 'lato-heavy', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	letter-spacing: 0.05em;
	text-decoration: none;
	background: none;
	-webkit-transition-property: color, background, border;
	transition-property: color, background, border;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.nav__list li.has-drop>a{ padding-right: 40px; }
.nav__list [class*="depict-icons-angle"],
.nav-cloned [class*="depict-icons-angle"]{
	position: relative;
	right: auto;
	top: 10px;
	pointer-events: none;
	background: none;
	height: 10px;
	width: 10px;
	left: 15px;
	margin: 0 0 0 -10px;
	padding: 0;
	-webkit-transition: none;
	transition: none;
}
.nav__list [class*="depict-icons-angle"]:before,
.nav-cloned [class*="depict-icons-angle"]:before{
	top: 0;
	left: 0;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border: 5px solid rgba(128, 128, 128, 0);
	border-top-color: #808080;
	margin-left: 0;
}

.nav-drop,
.nav-sub-drop{
	position: absolute;
	left: 0;
	top: -9999px;
	padding: 0;
	overflow: visible;
	background: #f2f2f2;
	box-shadow: 0 4px 18px rgba(0, 0, 0, 0.35);
	display: block;
	opacity: 0;
	z-index: 9;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}
.nav-drop{ min-width: 100%; }
.nav-drop:after,
.nav-sub-drop:after,
.nav__list>li:before,
.nav-drop__list>li:before,
.nav-sub-drop__list>li:before{ content: none; }
.nav__list>li.active:before,
.nav-drop__list>li.active:before,
.nav-sub-drop__list>li.active:before,
.nav__list>li.has-drop.current:before,
.nav-drop__list>li.has-drop.current:before,
.nav-sub-drop__list>li.has-drop.current:before{
	top: -6px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	content: none;
}
.nav-drop:after,
.nav-sub-drop:after{
	bottom: -6px;
	box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.1);
}
li.active>.nav-drop:after,
li.active>.nav-sub-drop:after,
.nav__list>li.active:before,
.nav-drop__list>li.active:before,
.nav-sub-drop__list>li.active:before,
li.has-drop.current>.nav-drop:after,
li.has-drop.current>.nav-sub-drop:after,
.nav__list>li.has-drop.current:before,
.nav-drop__list>li.has-drop.current:before,
.nav-sub-drop__list>li.has-drop.current:before{ opacity: 1; }
/*general styles main navigation end*/

/*styles to menu level 1*/
.nav__list>li{
	padding: 0;
	display: table-cell;
}
.nav__list>li.nc-clone{ display: none; }
.nav__list>li.active{ z-index: 1; }
.nav__list>li>a{
	display: block;
	position: relative;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	height: 80px;
	border-bottom: none;
	background: #00619d;
	border-bottom: 1px solid transparent;
	box-sizing: border-box;
}
.nav__list>li.hover>a,
.no-js .nav__list>li:hover>a,
.nav__list>li.active>a,
.nav__list>li.current>a,
.nav-cloned.hover>.nav-cloned__btn{
	color: #008acf;
	background: #fff;
}
.nav__list>li>a,
.nav__list>li.has-drop>a{
	padding: 28px 4px 0;
	text-transform: uppercase;
	font-weight: normal;
}
.nav__list>li>a>[class*="depict-icons-angle"]{
	position: absolute;
	bottom: 20px;
	top: auto;
	left: 50%;
	margin-left: -5px;
}
.nav__list>li.hover>a>[class*="depict-icons-angle"]:before,
.no-js .nav__list>li:hover>a>[class*="depict-icons-angle"]:before{
	border-top-color: #008acf;
}
.nav__list>li.active>a>[class*="depict-icons-angle"]:before,
.nav__list>li.current>a>[class*="depict-icons-angle"]:before{
	border: 5px solid rgba(128, 128, 128, 0);
	border-bottom-color: #008acf;
	margin-left: 0;
}
.nav__list>li.align-right>.nav-drop{
	min-width: 100%;
	left: auto;
	right: 0;
}
.nav__list>li.hover>.nav-drop,
.no-js .nav__list>li:hover>.nav-drop,
.nav__list>li.active>.nav-drop{
	top: 100%;
	opacity: 1;
}

.nav__list>li>a:before{
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -15px;
	height: 30px;
	width: 1px;
	background: #5998bf;
	opacity: 0.7;
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.nav__list>li:first-child>a:before{
	content: none;
}
.nav__list>li.hover>a:before{
	opacity: 0;
}
/*styles to menu level 1 end*/

/*styles to menu level 2*/
.nav-drop__list>li{
	display: block;
	border-top: none;
	position: relative;
}
.nav-drop__list>li.active{ z-index: 1; }
.nav-drop__list>li>a{
	padding: 10px 20px;
	font-size: 13px;
	background: none;
	background: #f2f2f2;
	color: #333;
	white-space: nowrap;
	position: relative;
}
.nav-drop__list>li.has-drop>a{ padding-right: 25px; }
.nav-drop__list>li.hover>a,
.no-js .nav-drop__list>li:hover>a,
.nav-drop__list>li.active>a,
.nav-drop__list>li.current>a{
	color: #fff;
	background: #008acf;
}
.nav-drop__list [class*="depict-icons-angle"],
.nav-drop__list li.active>a>[class*="depict-icons-angle"],
.nav-drop__list li.current>a>[class*="depict-icons-angle"]{
	position: absolute;
	left: auto;
	right: 5px;
	top: 14px;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}
.nav-drop__list [class*="depict-icons-angle"]:before,
.nav-drop__list li.active>a>[class*="depict-icons-angle"]:before,
.nav-drop__list li.current>a>[class*="depict-icons-angle"]:before{
	pointer-events: none;
	border: 5px solid rgba(128, 128, 128, 0);
	border-left-color: #333;
}
.nav-drop__list li.hover>a>[class*="depict-icons-angle"]:before,
.no-js .nav-drop__list li:hover>a>[class*="depict-icons-angle"]:before,
.nav-drop__list li.active>a>[class*="depict-icons-angle"]:before,
.nav-drop__list li.current>a>[class*="depict-icons-angle"]:before{ border-left-color: #fff; }
.nav-sub-drop{
	left: 100%;
	margin-top: 0;
	z-index: 1;
}
.nav-drop__list>li.align-right>.nav-sub-drop{
	left: auto;
	right: 100%;
}
.nav-drop__list>li.hover>.nav-sub-drop,
.no-js .nav-drop__list>li:hover>.nav-sub-drop,
.nav-drop__list>li.active>.nav-sub-drop{
	top: 0;
	opacity: 1;
}
/*styles to menu level 2 end*/

/*styles to menu level 3*/
.nav-sub-drop__list>li{
	border-top: none;
	position: relative;
}
.nav-sub-drop__list>li>a{
	padding: 10px 25px;
	font-size: 14px;
	text-transform: none;
	color: #333;
	background: #f2f2f2;
	white-space: nowrap;
}
.nav-sub-drop__list>li.has-drop>a{ padding-right: 25px; }
.nav-sub-drop__list>li.hover>a,
.no-js .nav-sub-drop__list>li:hover>a,
.nav-sub-drop__list>li.active>a,
.nav-sub-drop__list>li.current>a{
	color: #fff;
	background: #0077b3;
}
/*styles to menu level 3 end*/
/*MAIN NAVIGATION end*/

/*button menu*/
.btn-menu,
.btn-menu-close{
	position: absolute;
	left: 0;
	top: 0;
	width: 81px;
	height: 80px;
	text-decoration: none;
	background: #00619d;
	border-right: 1px solid #5998bf;
	box-sizing: border-box;

	font-size: 0;
	letter-spacing: -4px;
}
.btn-menu-close{
	visibility: hidden;
	opacity: 0;
	-webkit-transition-property: visibility, opacity;
	transition-property: visibility, opacity;
	-webkit-transition: 0.6s;
	transition: 0.6s;
}
.nav-opened .btn-menu-close{
	visibility: visible;
	opacity: 1;
}
.btn-menu:before,
.btn-menu-close:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.btn-menu:active > i,
.btn-menu-close:active > i{
	-webkit-transform: scale(0.85, 0.85);
	-ms-transform: scale(0.85, 0.85);
	transform: scale(0.85, 0.85);
}
.btn-menu > span,
.btn-menu-close > span{
	display: none;
	vertical-align: middle;
	position: relative;
	max-width: 98%;
	box-sizing: border-box;
}
.btn-menu > i,
.btn-menu > i:before,
.btn-menu > i:after,
.btn-menu-close > i,
.btn-menu-close > i:before,
.btn-menu-close > i:after{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 28px;
	height: 3px;
	background: #fff;
	margin: -1px 0 0 -14px;
}
.btn-menu-close > i{
	background: none;
}
.btn-menu > i:before,
.btn-menu > i:after,
.btn-menu-close > i:before,
.btn-menu-close > i:after{
	content: '';
	z-index: 2;
	left: 0;
	margin-left: 0;
}
.btn-menu-close > i:before{
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin: -2px 0 0;
}
.btn-menu-close  > i:after{
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	margin: -2px 0 0;
}
/*first line menu*/
.btn-menu > i:before{ top: -6px; }
/*first line menu end*/
/*third line menu*/
.btn-menu > i:after{ top: 8px; }
/*third line menu end*/
/*button menu end*/

/*MAIN*/
/*CONTENT*/
.sheet-head:before,
.sheet-head:after { content: ""; display: table; }
.sheet-head:after { clear: both; }
.btn-back{
	width: 81px;
	height: 81px;
	box-sizing: border-box;
	text-align: center;
	-webkit-transition-property: background, border;
	transition-property: background, border;
	-webkit-transition-duration: 0.12s;
	transition-duration: 0.12s;
}
.sheet-head .btn-back{
	float: right;
	border: 1px solid #d9d9d9;
	margin: -1px -1px 0 0;
}
.btn-back:hover{
	background: #008acf;
	border-color: #008acf;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.btn-back svg{
	width: 20px;
	display: inline-block;
	vertical-align: top;
	margin-top: 28px;
	-webkit-transform: rotateY(180deg); /* Safari */
	transform: rotateY(180deg); /* Standard syntax */
}
.btn-back path{
	-webkit-transition-property: fill;
	transition-property: fill;
	-webkit-transition-duration: 0.12s;
	transition-duration: 0.12s;
	fill: #d9d9d9;
}
.btn-back:hover path{
	fill: #fff;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
/*breadcrumbs*/
.breadcrumbs-list,
.user-content .breadcrumbs-list{
	list-style: none;
	padding: 25px 40px 24px;
	margin: 0;
	overflow: hidden;
}
.breadcrumbs-list{
	color: #3a3a3a;
	box-sizing: border-box;
}
.sheet-head .breadcrumbs-list{
	border-bottom: 1px solid #d9d9d9;
	min-height: 80px;
}
.breadcrumbs-list li,
.user-content .breadcrumbs-list li{
	display: inline;
	vertical-align: top;
	padding: 0 3px 0 12px;
	position: relative;
}
.user-content .breadcrumbs-list li:before{
	content: '/';
	position: absolute;
	left: 0;
	top: -3px;
	height: 0;
	width: 0;
	border: none;
}
.breadcrumbs-list li:first-child{
	padding-left: 0;
	background: none;
}
.breadcrumbs-list li:first-child:before,
.user-content .breadcrumbs-list li:first-child:before{
	content: none;
}
.breadcrumbs-list a{
	color: #999;
	text-decoration: none;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.breadcrumbs-list a:hover{
	color: #008acf;
	text-decoration: underline;
}
/*breadcrumbs end*/

/*datetime*/
.datetime{
	display: block;
	font-size: 14px;
	color: #ccc;
	padding: 0 0 20px;
}
/*datetime */
/*CONTENT end*/

/*SIDEBAR*/
/*SIDEBAR end*/

/*ASIDE*/
/*ASIDE end*/
/*MAIN end*/

/*FOOTER*/
.footer-holder{
	padding: 10px 0 0;
}
/*FOOTER end*/

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/*@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi){

}*/

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print{
	*,
	*:before,
	*:after{
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a, a:visited{ text-decoration: underline; }
	a[href^=http]:after { content:" <" attr(href) "> "; }
	a[href]:after{ content: " (" attr(href) ")"; }
	abbr[title]:after{ content: " (" attr(title) ")"; }
	a[href^="#"]:after, a[href^="javascript:"]:after{ content: ""; }
	pre, blockquote{ border: 1px solid #999; page-break-inside: avoid; }
	thead{ display: table-header-group; }
	tr, img{ page-break-inside: avoid; }
	img{ max-width: 100% !important; }
	p, h2, h3{ orphans: 3; widows: 3; }
	h2, h3{ page-break-after: avoid; }
	.sidebar,
	.print-hidden{ display: none !important; }
	.content{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.logo-img{ background: none !important; }
	.logo-img>*{ display: none; }
	.logo-img>img{ display: inline-block !important; }
}