@import ../libs/include-media/dist/include-media
@import utils/special-version-variables
@import utils/mixins

$bottom-space: 24px !default
$animation-speed: 0.2s !default

/*tape gallery
.gallery
	margin-bottom: $bottom-space

	&:last-child
		margin-bottom: 0

.tape-gallery
	margin-bottom: $bottom-space
	text-align: center

	&:last-child
		margin-bottom: 0

.fotorama__caption__wrap
	max-width: 980px
	margin: 0 auto

/*tape gallery end