@import ../libs/include-media/dist/include-media
@import utils/special-version-variables
@import utils/functions
@import utils/mixins
@import utils/placeholders

// variables
$displace: 1px
// variables end

.spec-panel
	display: none
	position: relative
	width: nth($spec-panel-size, 2)
	max-width: #{$spec-text-page}
	margin: 0 auto 20px
	z-index: 999
	box-sizing: border-box
	border: 0 solid currentColor
	border-width: 0 $spec-border-width $spec-border-width
	// transition
	$prop: transform
	will-change: $prop
	transition:
		property: $prop
		duration: 0.2s
		timing-function: ease-in-out

	+media('<mob-md')
		height: nth($spec-panel-size--sm, 1)
		width: nth($spec-panel-size--sm, 2)
		border-width: 0 0 2px 0
		$sh1: 0 0 0 2px
		$sh2: 0 4px 4px
		box-shadow: $sh1 currentColor, $sh2 rgba($spec-text-color, 0.3)

		.#{$spec-mod--scheme-wb} &
			box-shadow: $sh1 currentColor, $sh2 rgba($spec-text-color--scheme-wb, 0.3)

		.#{$spec-mod--scheme-blue} &
			box-shadow: $sh1 currentColor, $sh2 rgba($spec-text-color--scheme-blue, 0.3)

		.#{$spec-mod--scheme-green} &
			box-shadow: $sh1 currentColor, $sh2 rgba($spec-text-color--scheme-green, 0.3)

	.vspec &
		display: block

.spec-panel__layout
	overflow: hidden
	overflow-y: hidden
	overflow-x: hidden
	box-sizing: border-box
	+spec-reset-bg

	&:hover,
	.touchevents &,
	.no-js &
		overflow-x: auto

.spec-panel__holder
	display: flex
	justify-content: flex-start
	box-sizing: border-box
	padding: 0 round($spec-panel-inner-space / 2)

	+media('<mob-md')
		height: nth($spec-panel-size--sm, 1)
		padding: 0 round($spec-panel-inner-space--sm / 2)

.spec-panel__layout,
.spec-panel__holder,
.spec-panel__item
	height: nth($spec-panel-size, 1)

.spec-panel__item
	display: flex
	justify-content: flex-start
	align-items: center
	padding: 0 round($spec-panel-inner-space / 2)

.spec-panel__label
	white-space: nowrap
	//padding: 0 round($spec-panel-inner-space / 2) 0 0
	//font-family: Arial, Helvetica, sans-serif
	font-family: inherit
	font-size: 18px
	line-height: 22px
	letter-spacing: normal
	word-spacing: normal
	word-break: normal

	//+media('<mob-md')
		padding: 0 round($spec-panel-inner-space--sm / 2)

.spec-panel__btn-group
	display: flex
	align-items: center
	border-color: currentColor

.spec-panel__btn
	position: relative
	display: inline-block
	vertical-align: top
	width: $spec-panel__btn-size
	height: $spec-panel__btn-size
	margin: 0 0 0 round($spec-panel-inner-space / 2)
	font-size: 18px
	line-height: 22px
	letter-spacing: normal
	word-spacing: normal
	border-radius: 4px
	//border: 1px solid $spec-text-color
	border: 1px solid currentColor
	box-sizing: border-box
	// reset outline
	outline: none
	-webkit-tap-highlight-color: rgba(0,0,0,0) !important
	user-select: none !important

	&, .#{$spec-mod} &
		text-decoration: none
		color: currentColor

	//.#{$spec-mod--scheme-wb} &
		border-color: $spec-text-color--scheme-wb

	//.#{$spec-mod--scheme-blue} &
		border-color: $spec-text-color--scheme-blue

	+media('<mob-md')
		width: $spec-panel__btn-size
		height: $spec-panel__btn-size
		margin: 0 0 0 round($spec-panel-inner-space--sm / 2)

	// marker arrow
	&::before, &::after
		display: none
		content: ""
		position: absolute
		left: 50%
		margin: 3px 0 3px -#{round($spec-panel__btn-arr-size / 2)}

	&::before
		bottom: 100%
		+triangle("bottom", currentColor, round($spec-panel__btn-arr-size / 2), 0.8)

	&::after
		top: 100%
		+triangle("top", currentColor, round($spec-panel__btn-arr-size / 2), 0.8)

	// hover, focus
	&:hover, &:focus
		//transform: translate(-$displace, -$displace)
		outline: none
		box-shadow: $spec-panel__btn-shadow-inside $spec-bg-color, $spec-panel__btn-shadow-outside $spec-text-color

		.#{$spec-mod--scheme-wb} &
			box-shadow: $spec-panel__btn-shadow-inside $spec-bg-color--scheme-wb, $spec-panel__btn-shadow-outside $spec-text-color--scheme-wb

		.#{$spec-mod--scheme-blue} &
			box-shadow: $spec-panel__btn-shadow-inside $spec-bg-color--scheme-blue, $spec-panel__btn-shadow-outside $spec-text-color--scheme-blue

		.#{$spec-mod--scheme-green} &
			box-shadow: $spec-panel__btn-shadow-inside $spec-bg-color--scheme-green, $spec-panel__btn-shadow-outside $spec-text-color--scheme-green

	// focus
	//&:focus
		outline: none

	// active
	&.active
		&, &:hover, &:focus
			cursor: default
			//box-shadow: none
			//border-width: 4px
			box-shadow: inset 0 0 0 3px currentColor

		&::before, &::after
			display: block

	&.active[data-toggle]
		&, &:hover, &:focus
			cursor: pointer

	& > span
		display: none

	svg
		display: block
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		box-sizing: border-box

		+media('<mob-md')
			transform: translate(-50%, -50%) scale(0.85)

	path
		fill: currentColor

.spec-panel__btn_color_def
	&, .#{$spec-mod} &
		color: $spec-text-color
		background-color: $spec-bg-color

.spec-panel__btn_color_white
	&, .#{$spec-mod} &
		color: $spec-text-color--scheme-wb
		background-color: $spec-bg-color--scheme-wb

.spec-panel__btn_color_blue
	&, .#{$spec-mod} &
		color: $spec-text-color--scheme-blue
		background-color: $spec-bg-color--scheme-blue

.spec-panel__btn_color_green
	&, .#{$spec-mod} &
		color: $spec-text-color--scheme-green
		background-color: $spec-bg-color--scheme-green

$icon-spacing--size: 16px 2px // h w
$icon-spacing--space: 3px // h
.spec-panel__btn_spacing_sm, .spec-panel__btn_spacing_md, .spec-panel__btn_spacing_lg
	.icon
		&, &::before, &::after
			display: block
			position: absolute
			left: 50%
			top: 50%
			height: nth($icon-spacing--size, 1)
			width: nth($icon-spacing--size, 2)
			background-color: currentColor

		&
			margin: -#{round(nth($icon-spacing--size, 1)/2)} 0 0 -#{round(nth($icon-spacing--size, 2)/2)}

			+media('<mob-md')
				transform: scale(0.85)

		&::before, &::after
			content: ""
			margin-top: -#{round(nth($icon-spacing--size, 1)/2)}

		&::before
			margin-left: -#{$icon-spacing--space + round(nth($icon-spacing--size, 2)*1.5)}

		&::after
			margin-left: #{$icon-spacing--space + round(nth($icon-spacing--size, 2)*0.5)}

.spec-panel__btn_spacing_md
	.icon
		$icon-spacing--space: 6px // h

		&::before
			margin-left: -#{$icon-spacing--space + round(nth($icon-spacing--size, 2)*1.5)}

		&::after
			margin-left: #{$icon-spacing--space + round(nth($icon-spacing--size, 2)*0.5)}

.spec-panel__btn_spacing_lg
	.icon
		$icon-spacing--space: 9px // h

		&::before
			margin-left: -#{$icon-spacing--space + round(nth($icon-spacing--size, 2)*1.5)}

		&::after
			margin-left: #{$icon-spacing--space + round(nth($icon-spacing--size, 2)*0.5)}

// Special Version Advanced Settings
.spec-drop
	+spec-reset-bg
	overflow: hidden

.spec-drop__layout
	padding: $spec-panel-inner-space
	border-top: $spec-border-width solid currentColor

.spec-drop__title
	+spec-font-size--title
	//+font(36px, 48px)
	//font-weight: bold
	//letter-spacing: normal
	//word-spacing: normal
	word-wrap: break-word
	margin-bottom: round($spec-panel-inner-space / 2)

	.spec-drop__item + &
		margin-top: round($spec-panel-inner-space * 2)

.spec-drop__item
	display: flex
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	margin: round($spec-panel-inner-space / 2) 0 0

	.spec-drop__title + &
		margin-top: 0

.spec-drop__label
	display: inline-block // if not support flex
	vertical-align: top // if not support flex
	margin: round($spec-panel-inner-space / 2) 0
	+spec-font-size--item
	//+font(22px, 34px)
	//font-weight: bold
	//letter-spacing: normal
	//word-spacing: normal
	word-wrap: break-word

.spec-drop__btn-group
	display: inline-block // if not support flex
	vertical-align: top // if not support flex
	display: flex
	justify-content: flex-start
	align-items: center

.spec-drop__btn
	position: relative
	display: inline-block // if not support flex
	vertical-align: top // if not support flex
	display: flex
	justify-content: flex-start
	align-items: center
	margin: round($spec-panel-inner-space / 2)
	margin-right: 0
	padding: 0 10px
	//+spec-font-size--normal
	//letter-spacing: normal
	//word-spacing: normal
	height: 50px
	border-radius: 4px
	box-sizing: border-box
	border: 1px solid currentColor
	// reset outline
	outline: none
	-webkit-tap-highlight-color: rgba(0,0,0,0) !important
	user-select: none !important

	&, .#{$spec-mod} &
		text-decoration: none
		color: currentColor

	+media('<mob-md')
		height: $spec-panel__btn-size
		margin: 0 0 0 round($spec-panel-inner-space--sm / 2)

	// marker arrow
	&::before, &::after
		display: none
		content: ""
		position: absolute
		left: 50%
		margin: 3px 0 3px -#{round($spec-panel__btn-arr-size / 2)}

	&::before
		bottom: 100%
		+triangle("bottom", currentColor, round($spec-panel__btn-arr-size / 2), 0.8)

	&::after
		top: 100%
		+triangle("top", currentColor, round($spec-panel__btn-arr-size / 2), 0.8)

	svg
		display: none
		box-sizing: border-box
		margin-right: 5px

	path
		fill: currentColor

	.icon
		display: none

	// hover, focus
	&:hover, &:focus
		//transform: translate(-$displace, -$displace)
		outline: none
		box-shadow: $spec-panel__btn-shadow-inside $spec-bg-color, $spec-panel__btn-shadow-outside $spec-text-color

		.#{$spec-mod--scheme-wb} &
			box-shadow: $spec-panel__btn-shadow-inside $spec-bg-color--scheme-wb, $spec-panel__btn-shadow-outside $spec-text-color--scheme-wb

		.#{$spec-mod--scheme-blue} &
			box-shadow: $spec-panel__btn-shadow-inside $spec-bg-color--scheme-blue, $spec-panel__btn-shadow-outside $spec-text-color--scheme-blue

		.#{$spec-mod--scheme-green} &
			box-shadow: $spec-panel__btn-shadow-inside $spec-bg-color--scheme-green, $spec-panel__btn-shadow-outside $spec-text-color--scheme-green

	// active
	&.active
		&, &:hover, &:focus
			cursor: default
			//border-width: 4px
			box-shadow: inset 0 0 0 3px currentColor

		&::before, &::after
			display: block

	&.active[data-toggle]
		&, &:hover, &:focus
			cursor: pointer

// Font size
//.spec-drop__btn_size_sm,
//.spec-drop__btn_size_md,
//.spec-drop__btn_size_lg
	letter-spacing: inherit
	word-spacing: inherit

.spec-drop__btn_size_sm
	+spec-font-size--small

.spec-drop__btn_size_md
	+spec-font-size--normal

.spec-drop__btn_size_lg
	+spec-font-size--large

// Letter spacing
//.spec-drop__btn_spacing_normal,
//.spec-drop__btn_spacing_md,
//.spec-drop__btn_spacing_lg
	font-size: inherit

.spec-drop__btn_spacing_normal
	letter-spacing: $spec-letter-spacing--normal
	word-spacing: $spec-letter-spacing--normal

.spec-drop__btn_spacing_md
	letter-spacing: $spec-letter-spacing--medium
	word-spacing: $spec-letter-spacing--medium

.spec-drop__btn_spacing_lg
	letter-spacing: $spec-letter-spacing--large
	word-spacing: $spec-letter-spacing--large

// color scheme
.spec-drop__btn_color_def
	&, .#{$spec-mod} &
		color: $spec-text-color
		background-color: $spec-bg-color

.spec-drop__btn_color_white
	&, .#{$spec-mod} &
		color: $spec-text-color--scheme-wb
		background-color: $spec-bg-color--scheme-wb

.spec-drop__btn_color_blue
	&, .#{$spec-mod} &
		color: $spec-text-color--scheme-blue
		background-color: $spec-bg-color--scheme-blue

.spec-drop__btn_color_green
	&, .#{$spec-mod} &
		color: $spec-text-color--scheme-green
		background-color: $spec-bg-color--scheme-green

// Special Version Advanced Settings end

// Duplicate Special Version Panel
.spec-panel-mob
	position: fixed
	left: 0
	bottom: 0
	width: 100%
	border-width: 2px

	.spec-drop
		position: absolute
		left: 0
		width: 100%
		bottom: nth($spec-panel-size, 1) + 20

// Duplicate Special Version Panel end




/*button switch special version
.spec-btn-switcher
	position: fixed
	left: 10px
	top: 10px
	padding-left: 1.9em
	font-family: Arial, Helvetica, sans-serif
	font-size: 18px
	line-height: 30px
	letter-spacing: normal
	color: inherit
	font-weight: bold
	font-style: normal
	box-sizing: border-box
	z-index: 9999

	svg
		+size(1.4em)
		position: absolute
		left: 0
		top: 50%
		transform: translate(0, -50%)
		box-sizing: border-box

		&.icon-spec-on
			display: block

			.vspec &
				display: none

		&.icon-spec-off
			display: none

			.vspec &
				display: block

	path
		fill: currentColor

	// in header
	.header &
		position: absolute
		left: auto
		right: 15px
		top: 15px

		+media('<tab-lg')
			right: 90px
			top: 5px

		.home-page &
			color: white

		span
			+media('<tab-lg')
				display: inline-block
				vertical-align: top
				font-size: 14px

			+media('<mob-md')
				width: 110px
				font-size: 14px
				line-height: 16px

		.#{$spec-mod} &
			color: currentColor
			top: auto
			right: 0
			bottom: 60px

			+media('<tab-lg')
				top: auto
				bottom: 10px
				right: 0

			+media('<mob-lg')
				order: 4
				position: relative
				top: auto
				bottom: auto
				right: auto
				align-self: self-start

			span
				width: auto
				line-height: inherit

	// in footer
	.footer &
		position: absolute
		left: auto
		top: auto
		bottom: 10px
		color: rgba(white, 0.8)

		.#{$spec-mod} &
			color: currentColor
			position: relative
			bottom: auto

/*button switch special version end

// только для текущего проекта
.footer-nav
	position: relative

//.nav-opened-before .spec-panel
	+media('<mob-md')
		transform: translate(0, -110%)