/*=========== SPECIAL VERSION =========== */
.vspec--hide-page {
	display: none !important;
}

body.vspec {
	font-size: 18px;
	line-height: 1.78;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: #000;
	background-color: #fff;
}

.vspec--fontsize-small body.vspec {
	font-size: 14px;
}

.vspec--fontsize-large body.vspec {
	font-size: 30px;
}

.vspec--spacing-medium body.vspec {
	letter-spacing: 0.2em;
}

.vspec--spacing-large body.vspec {
	letter-spacing: 0.5em;
}

.vspec--schemecolor-white body.vspec {
	color: #fff;
	background-color: #000;
}

.vspec--schemecolor-blue body.vspec {
	color: #004c92;
	background-color: #c8e5ff;
}

.vspec path,
.vspec polygon {
	fill: currentColor !important;
}

.vspec h1, .vspec h2, .vspec h3, .vspec h4, .vspec h5, .vspec h6 {
	font-family: inherit;
}

.vspec h1, .vspec h2, .vspec h3, .vspec h4, .vspec h5, .vspec h6 {
	color: inherit;
}

.vspec .no-transition {
	transition: none;
}

.vspec .someclass,
.vspec .someclass {
	background-color: #fff;
}

.vspec--schemecolor-white .vspec .someclass, .vspec--schemecolor-white
.vspec .someclass {
	background-color: #000;
}

.vspec--schemecolor-blue .vspec .someclass, .vspec--schemecolor-blue
.vspec .someclass {
	background-color: #c8e5ff;
}

.vspec img,
.vspec .promo-slider__bg {
	filter: grayscale(1) contrast(1) invert(0);
}

.vspec .promo-slider .slick-track {
	opacity: 1 !important;
	left: auto !important;
	width: auto !important;
	-ms-transform: none !important;
	transform: none !important;
}

.vspec .promo-slider .slick-track::before, .vspec .promo-slider .slick-track::after {
	content: none;
}

.vspec .promo-slider .slick-slide {
	position: relative !important;
	width: auto !important;
	height: auto !important;
	opacity: 1 !important;
	left: auto !important;
	top: auto !important;
	float: none !important;
	z-index: auto !important;
}

.vspec .promo-slider .slick-arrow {
	display: none !important;
}

.vspec .promo-slider .slick-dots {
	display: none !important;
}

.vspec img {
	display: none;
}

.vspec--imageson .vspec img {
	display: block;
}

.vspec .someclass,
.vspec .someclass {
	padding-left: 1.5em;
	padding-right: 1.5em;
}

@media (max-width: 639px) {
	.vspec .someclass,
	.vspec .someclass {
		padding-left: 1.25em;
		padding-right: 1.25em;
	}
}

@media (max-width: 479px) {
	.vspec .someclass,
	.vspec .someclass {
		padding-left: 1em;
		padding-right: 1em;
	}
}

.vspec h1 {
	font-size: 2em;
	line-height: 1.33;
	font-weight: 500;
	letter-spacing: inherit;
	padding: 0;
	margin-bottom: 2em;
}

.vspec h2 {
	font-size: 1.44em;
	line-height: 1.46;
	padding: 0;
	margin: 0 0 1.2em;
}

.vspec h3 {
	font-size: 1.22em;
	line-height: 1.55;
	font-weight: 700;
	padding: 0;
	margin: 0 0 1.2em;
}

.vspec h4 {
	font-size: inherit;
	line-height: inherit;
	font-weight: 700;
	padding: 0;
	margin: 0 0 1.2em;
}

.vspec h5 {
	font-size: inherit;
	line-height: inherit;
	text-transform: uppercase;
	font-weight: normal;
	padding: 0;
	margin: 0 0 1.2em;
}

.vspec h6 {
	font-size: inherit;
	line-height: inherit;
	font-weight: 500;
	padding: 0;
	margin: 0 0 1.2em;
}

.vspec p {
	letter-spacing: inherit;
	margin-bottom: 1.2em;
	padding: 0;
}

.vspec table td, .vspec table th {
	color: currentColor;
	border-color: currentColor;
	font-size: inherit;
	line-height: inherit;
}

.vspec table td span, .vspec table td p, .vspec table td ul, .vspec table th span, .vspec table th p, .vspec table th ul {
	background: none !important;
	color: inherit !important;
}

.vspec table caption {
	font-size: 0.89em;
	line-height: 1.75;
	color: inherit;
	font-style: italic;
}

.vspec hr {
	border-bottom-color: currentColor;
}

.vspec .mark {
	color: #fff;
	background-color: #000;
}

.vspec a {
	color: currentColor;
	transition: none;
}

.vspec input[type="text"],
.vspec input[type="password"],
.vspec input[type="email"],
.vspec input[type="search"],
.vspec textarea {
	font-family: inherit;
	box-shadow: none;
	height: 50px;
	font-size: 18px;
	line-height: 30px;
	color: inherit;
	padding: 8px 15px;
	border: 2px solid currentColor;
	transition: none;
}

.vspec input[type="text"].error,
.vspec input[type="password"].error,
.vspec input[type="email"].error,
.vspec input[type="search"].error,
.vspec textarea.error {
	border-color: currentColor;
	box-shadow: none;
	color: inherit;
}

.vspec input[type="text"]:focus,
.vspec input[type="password"]:focus,
.vspec input[type="email"]:focus,
.vspec input[type="search"]:focus,
.vspec textarea:focus {
	box-shadow: none;
}

.vspec input[type="text"]::-webkit-input-placeholder, .vspec input[type="password"]::-webkit-input-placeholder, .vspec input[type="email"]::-webkit-input-placeholder, .vspec input[type="search"]::-webkit-input-placeholder, .vspec textarea::-webkit-input-placeholder {
	color: currentColor;
}

.vspec input[type="text"]:-moz-placeholder, .vspec input[type="password"]:-moz-placeholder, .vspec input[type="email"]:-moz-placeholder, .vspec input[type="search"]:-moz-placeholder, .vspec textarea:-moz-placeholder {
	color: currentColor;
}

.vspec input[type="text"]::-moz-placeholder, .vspec input[type="password"]::-moz-placeholder, .vspec input[type="email"]::-moz-placeholder, .vspec input[type="search"]::-moz-placeholder, .vspec textarea::-moz-placeholder {
	opacity: 1;
	color: currentColor;
}

.vspec input[type="text"]:-ms-input-placeholder, .vspec input[type="password"]:-ms-input-placeholder, .vspec input[type="email"]:-ms-input-placeholder, .vspec input[type="search"]:-ms-input-placeholder, .vspec textarea:-ms-input-placeholder {
	opacity: 1;
	color: currentColor;
}

.vspec input[type="text"].placeholder, .vspec input[type="password"].placeholder, .vspec input[type="email"].placeholder, .vspec input[type="search"].placeholder, .vspec textarea.placeholder {
	color: currentColor;
}

.vspec .label-holder, .vspec label {
	color: inherit;
	font-size: inherit;
	line-height: inherit;
	letter-spacing: inherit;
}

.vspec .btn-default, .vspec input[type="submit"], .vspec input[type="button"], .vspec input[type="reset"], .vspec button {
	font-family: inherit;
	color: #000;
	border-color: #000;
	background-color: #fff;
	transition: none;
}

.vspec .btn-default:hover, .vspec input[type="submit"]:hover, .vspec input[type="button"]:hover, .vspec input[type="reset"]:hover, .vspec button:hover {
	border-color: #000;
	background-color: #000;
	color: #fff;
}

.vspec--schemecolor-white .vspec .btn-default, .vspec--schemecolor-white .vspec input[type="submit"], .vspec--schemecolor-white .vspec input[type="button"], .vspec--schemecolor-white .vspec input[type="reset"], .vspec--schemecolor-white .vspec button {
	color: #fff;
	border-color: #fff;
	background-color: #000;
}

.vspec--schemecolor-white .vspec .btn-default:hover, .vspec--schemecolor-white .vspec input[type="submit"]:hover, .vspec--schemecolor-white .vspec input[type="button"]:hover, .vspec--schemecolor-white .vspec input[type="reset"]:hover, .vspec--schemecolor-white .vspec button:hover {
	color: #000;
	border-color: #fff;
	background-color: #fff;
}

.vspec--schemecolor-blue .vspec .btn-default, .vspec--schemecolor-blue .vspec input[type="submit"], .vspec--schemecolor-blue .vspec input[type="button"], .vspec--schemecolor-blue .vspec input[type="reset"], .vspec--schemecolor-blue .vspec button {
	color: #004c92;
	border-color: #004c92;
	background-color: #c8e5ff;
}

.vspec--schemecolor-blue .vspec .btn-default:hover, .vspec--schemecolor-blue .vspec input[type="submit"]:hover, .vspec--schemecolor-blue .vspec input[type="button"]:hover, .vspec--schemecolor-blue .vspec input[type="reset"]:hover, .vspec--schemecolor-blue .vspec button:hover {
	color: #c8e5ff;
	border-color: #004c92;
	background-color: #004c92;
}

/* to top */
.vspec .back-to-top {
	box-sizing: border-box;
	color: inherit;
	background: none !important;
	box-shadow: 0 0 0 2px currentColor;
}

.vspec .back-to-top > i {
	position: relative;
	width: 4px;
	margin-right: 14px;
	background: none;
	background-color: currentColor;
}

.vspec .back-to-top > i::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	width: 14px;
	height: 14px;
	border: 0 solid currentColor;
	border-width: 4px 0 0 4px;
	-ms-transform: rotate(45deg);
	    transform: rotate(45deg);
	margin: 0 0 0 -9px;
}

.vspec .back-to-top > span {
	transition: none;
}

.vspec .back-to-top:hover > i {
	margin-right: 20px;
}

.vspec .back-to-top:hover {
	background-color: #fff !important;
}

.vspec.schemecolor-white .back-to-top:hover {
	background-color: #000 !important;
}

.vspec.schemecolor-blue .back-to-top:hover {
	background-color: #c8e5ff !important;
}

/* to top end */
/*=========== SPECIAL VERSION end =========== */

/*# sourceMappingURL=--special-version-start.css.map */
