.footer-nav {
	position: relative;
}

.spec-panel,
.spec-panel__holder {
	width: 70px;
	box-sizing: border-box;
}

.spec-panel {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1;
	box-shadow: 0 0 0 1px currentColor;
	background-color: inherit;
	will-change: transform;
	transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

@media (max-width: 479px) {
	.spec-panel {
		height: 56px;
		width: 100%;
		border-width: 0 0 2px 0;
		box-shadow: 0 0 0 2px currentColor, 0 4px 4px rgba(0, 0, 0, 0.3);
	}
	.vspec-mod_scheme-color_white .spec-panel {
		box-shadow: 0 0 0 2px currentColor, 0 4px 4px rgba(255, 255, 255, 0.3);
	}
	.vspec-mod_scheme-color_blue .spec-panel {
		box-shadow: 0 0 0 2px currentColor, 0 4px 4px rgba(0, 76, 146, 0.3);
	}
}

.vspec .spec-panel {
	display: block;
}

@media (max-width: 479px) {
	.nav-opened-before .spec-panel {
		-ms-transform: translate(0, -110%);
		    transform: translate(0, -110%);
	}
}

.spec-panel .spec-btn-group {
	border: 0 solid currentColor;
	border-width: 1px 0 0;
}

@media (max-width: 479px) {
	.spec-panel .spec-btn-group {
		display: -ms-flexbox;
		display: flex;
		border-width: 0 0 0 1px;
		-ms-flex-align: center;
		    align-items: center;
		padding: 0 5px;
	}
}

.spec-panel .spec-btn-group:first-child {
	border-top: 0;
	border-left: 0;
}

.spec-panel .spec-btn {
	display: block;
	margin: 20px auto;
}

@media (max-width: 479px) {
	.spec-panel .spec-btn {
		display: inline-block;
		vertical-align: top;
		margin: 0 5px;
	}
}

.spec-panel__layout {
	overflow: hidden;
}

.spec-panel__layout:hover,
.touchevents .spec-panel__layout,
.no-js .spec-panel__layout {
	overflow-y: auto;
}

@media (max-width: 479px) {
	.spec-panel__layout:hover,
	.touchevents .spec-panel__layout,
	.no-js .spec-panel__layout {
		overflow-y: hidden;
		overflow-x: auto;
	}
}

.spec-panel__holder {
	text-align: center;
}

@media (max-width: 479px) {
	.spec-panel__holder {
		display: -ms-flexbox;
		display: flex;
		height: 56px;
		width: auto;
	}
}

.spec-btn-switcher {
	position: fixed;
	left: 10px;
	top: 10px;
	padding-left: 1.9em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: normal;
	color: inherit;
	font-weight: bold;
	font-style: normal;
	box-sizing: border-box;
	z-index: 9999;
}

.spec-btn-switcher svg {
	width: 1.4em;
	height: 1.4em;
	position: absolute;
	left: 0;
	top: 50%;
	-ms-transform: translate(0, -50%);
	    transform: translate(0, -50%);
	box-sizing: border-box;
}

.spec-btn-switcher svg.icon-spec-on {
	display: block;
}

.vspec .spec-btn-switcher svg.icon-spec-on {
	display: none;
}

.spec-btn-switcher svg.icon-spec-off {
	display: none;
}

.vspec .spec-btn-switcher svg.icon-spec-off {
	display: block;
}

.spec-btn-switcher path {
	fill: currentColor;
}

.header .spec-btn-switcher {
	position: absolute;
	left: auto;
	right: 15px;
	top: 15px;
}

@media (max-width: 979px) {
	.header .spec-btn-switcher {
		right: 90px;
		top: 5px;
	}
}

.home-page .header .spec-btn-switcher {
	color: white;
}

@media (max-width: 979px) {
	.header .spec-btn-switcher span {
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
	}
}

@media (max-width: 479px) {
	.header .spec-btn-switcher span {
		width: 110px;
		font-size: 14px;
		line-height: 16px;
	}
}

.vspec .header .spec-btn-switcher {
	color: currentColor;
	top: auto;
	right: 0;
	bottom: 60px;
}

@media (max-width: 979px) {
	.vspec .header .spec-btn-switcher {
		top: auto;
		bottom: 10px;
		right: 0;
	}
}

@media (max-width: 639px) {
	.vspec .header .spec-btn-switcher {
		-ms-flex-order: 4;
		    order: 4;
		position: relative;
		top: auto;
		bottom: auto;
		right: auto;
		-ms-flex-item-align: self-start;
		    -ms-grid-row-align: self-start;
		    align-self: self-start;
	}
}

.vspec .header .spec-btn-switcher span {
	width: auto;
	line-height: inherit;
}

.footer .spec-btn-switcher {
	position: absolute;
	left: auto;
	top: auto;
	bottom: 10px;
	color: rgba(255, 255, 255, 0.8);
}

.vspec .footer .spec-btn-switcher {
	color: currentColor;
	position: relative;
	bottom: auto;
}

.spec-btn {
	width: 42px;
	height: 42px;
	position: relative;
	font-size: 16px;
	line-height: 1;
	letter-spacing: normal;
	text-decoration: none;
	border-radius: 1px;
	border: 1px solid #000;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
	-webkit-user-select: none !important;
	   -moz-user-select: none !important;
	    -ms-user-select: none !important;
	        user-select: none !important;
}

@media (max-width: 479px) {
	.spec-btn {
		width: 36px;
		height: 36px;
	}
}

.spec-btn:focus {
	outline: none;
}

.vspec-mod_scheme-color_white .spec-btn {
	border-color: #fff;
}

.vspec-mod_scheme-color_blue .spec-btn {
	border-color: #004c92;
}

.spec-btn::after {
	content: "";
	display: none;
	position: absolute;
	top: 50%;
	right: -22px;
	height: 24px;
	width: 24px;
	margin-top: -12px;
	width: 0;
	height: 0;
	z-index: 2;
	border-right: 14px solid currentColor;
	border-bottom: 12px solid transparent;
	border-top: 12px solid transparent;
}

@media (max-width: 479px) {
	.spec-btn::after {
		border: none;
		width: 0;
		height: 0;
		z-index: 2;
		border-bottom: 14px solid currentColor;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		top: auto;
		right: auto;
		left: 50%;
		bottom: -20px;
		margin: 0 0 0 -12px;
	}
}

.spec-panel .spec-btn:hover, .spec-panel .spec-btn:focus,
.spec-panel .spec-btn[data-toggle]:hover,
.spec-panel .spec-btn[data-toggle]:focus,
.spec-panel .spec-btn.active[data-toggle]:hover,
.spec-panel .spec-btn.active[data-toggle]:focus {
	box-shadow: 0 0 0 2px #fff, 0 0 0 5px #000;
}

.vspec-mod_scheme-color_white .spec-panel .spec-btn:hover, .vspec-mod_scheme-color_white .spec-panel .spec-btn:focus, .vspec-mod_scheme-color_white
.spec-panel .spec-btn[data-toggle]:hover, .vspec-mod_scheme-color_white
.spec-panel .spec-btn[data-toggle]:focus, .vspec-mod_scheme-color_white
.spec-panel .spec-btn.active[data-toggle]:hover, .vspec-mod_scheme-color_white
.spec-panel .spec-btn.active[data-toggle]:focus {
	box-shadow: 0 0 0 2px #000, 0 0 0 5px #fff;
}

.vspec-mod_scheme-color_blue .spec-panel .spec-btn:hover, .vspec-mod_scheme-color_blue .spec-panel .spec-btn:focus, .vspec-mod_scheme-color_blue
.spec-panel .spec-btn[data-toggle]:hover, .vspec-mod_scheme-color_blue
.spec-panel .spec-btn[data-toggle]:focus, .vspec-mod_scheme-color_blue
.spec-panel .spec-btn.active[data-toggle]:hover, .vspec-mod_scheme-color_blue
.spec-panel .spec-btn.active[data-toggle]:focus {
	box-shadow: 0 0 0 2px #c8e5ff, 0 0 0 5px #004c92;
}

.spec-panel .spec-btn.active, .spec-panel .spec-btn.active:hover, .spec-panel .spec-btn.active:focus {
	cursor: default;
	box-shadow: none;
	border-width: 4px;
}

.spec-panel .spec-btn.active::after {
	display: block;
}

.spec-panel .spec-btn.active[data-toggle], .spec-panel .spec-btn.active[data-toggle]:hover, .spec-panel .spec-btn.active[data-toggle]:focus {
	cursor: pointer;
}

.spec-panel .spec-btn span {
	font-size: 0;
	line-height: 0;
}

.spec-panel .spec-btn svg {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	box-sizing: border-box;
}

@media (max-width: 479px) {
	.spec-panel .spec-btn svg {
		-ms-transform: translate(-50%, -50%) scale(0.85);
		    transform: translate(-50%, -50%) scale(0.85);
	}
}

.spec-panel .spec-btn path {
	fill: currentColor;
}

.spec-panel .spec-btn-off {
	display: none;
}

.vspec .spec-panel .spec-btn-off {
	display: block;
}

.vspec .spec-panel .spec-btn-off::before {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 40px;
	height: 3px;
	margin: -1px 0 0 -20px;
	border: none;
	background-color: currentColor;
	-ms-transform: rotate(-0.1turn);
	    transform: rotate(-0.1turn);
}

@media (max-width: 479px) {
	.vspec .spec-panel .spec-btn-off::before {
		width: 34px;
		margin: -1px 0 0 -17px;
	}
}

.vspec .spec-panel .spec-btn-off::after {
	content: none;
}

@media (max-width: 479px) {
	.vspec .spec-panel .spec-btn-off {
		display: inline-block;
	}
}

/* special version color */
.spec-panel .spec-btn_color_def {
	color: #000;
	background-color: #fff;
}

.spec-panel .spec-btn_color_white {
	color: #fff;
	background-color: #000;
}

.spec-panel .spec-btn_color_blue {
	color: #004c92;
	background-color: #c8e5ff;
}

.spec-panel .spec-btn_spacing_sm .icon, .spec-panel .spec-btn_spacing_sm .icon::before, .spec-panel .spec-btn_spacing_sm .icon::after, .spec-panel .spec-btn_spacing_md .icon, .spec-panel .spec-btn_spacing_md .icon::before, .spec-panel .spec-btn_spacing_md .icon::after, .spec-panel .spec-btn_spacing_lg .icon, .spec-panel .spec-btn_spacing_lg .icon::before, .spec-panel .spec-btn_spacing_lg .icon::after {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	height: 16px;
	width: 2px;
	background-color: currentColor;
}

.spec-panel .spec-btn_spacing_sm .icon, .spec-panel .spec-btn_spacing_md .icon, .spec-panel .spec-btn_spacing_lg .icon {
	margin: -8px 0 0 -1px;
}

@media (max-width: 479px) {
	.spec-panel .spec-btn_spacing_sm .icon, .spec-panel .spec-btn_spacing_md .icon, .spec-panel .spec-btn_spacing_lg .icon {
		-ms-transform: scale(0.85);
		    transform: scale(0.85);
	}
}

.spec-panel .spec-btn_spacing_sm .icon::before, .spec-panel .spec-btn_spacing_sm .icon::after, .spec-panel .spec-btn_spacing_md .icon::before, .spec-panel .spec-btn_spacing_md .icon::after, .spec-panel .spec-btn_spacing_lg .icon::before, .spec-panel .spec-btn_spacing_lg .icon::after {
	content: "";
	margin-top: -8px;
}

.spec-panel .spec-btn_spacing_sm .icon::before, .spec-panel .spec-btn_spacing_md .icon::before, .spec-panel .spec-btn_spacing_lg .icon::before {
	margin-left: -6px;
}

.spec-panel .spec-btn_spacing_sm .icon::after, .spec-panel .spec-btn_spacing_md .icon::after, .spec-panel .spec-btn_spacing_lg .icon::after {
	margin-left: 4px;
}

.spec-panel .spec-btn_spacing_md .icon::before {
	margin-left: -9px;
}

.spec-panel .spec-btn_spacing_md .icon::after {
	margin-left: 7px;
}

.spec-panel .spec-btn_spacing_lg .icon::before {
	margin-left: -12px;
}

.spec-panel .spec-btn_spacing_lg .icon::after {
	margin-left: 10px;
}

.main-contacts,
.local-map {
	height: 595px;
}

.spec-drop {
	position: absolute;
	left: 90px;
	top: 50px;
	border: 1px solid currentColor;
	padding: 20px;
}

.spec-panel-mob {
	left: auto;
	right: 0;
}

.spec-panel-mob .spec-drop {
	left: auto;
	right: 90px;
}

/*# sourceMappingURL=special-version-base.css.map */
