.spec-panel {
	display: none;
	position: relative;
	width: auto;
	max-width: 1280px;
	margin: 0 auto 20px;
	line-height: 1.5;
	z-index: 995;
	box-sizing: border-box;
	border: 0 solid currentColor;
	border-width: 0 2px 2px;
	will-change: transform, box-shadow;
	transition-property: transform, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

@media (max-width: 979px) {
	.spec-panel {
		border-width: 0 0 2px;
	}
}

@media (max-width: 479px) {
	.spec-panel {
		margin-bottom: 10px;
	}
}

.spec-panel.settings-is-open {
	box-shadow: 0 0 0 4px currentColor;
}

@media (max-width: 979px) {
	.spec-panel.settings-is-open {
		box-shadow: none;
	}
}

.vspec .spec-panel {
	display: block;
}

.spec-panel__layout {
	overflow: hidden;
	overflow-y: hidden;
	overflow-x: hidden;
	box-sizing: border-box;
	background-color: #fff;
}

.vspec-mod_scheme-color_white .spec-panel__layout {
	background-color: #000;
}

.vspec-mod_scheme-color_blue .spec-panel__layout {
	background-color: #c8e5ff;
}

.vspec-mod_scheme-color_brown .spec-panel__layout {
	background-color: #f7f3d6;
}

.vspec-mod_scheme-color_green .spec-panel__layout {
	background-color: #3b2716;
}

.spec-panel__layout:hover,
.touchevents .spec-panel__layout,
.no-js .spec-panel__layout {
	overflow-x: auto;
}

.spec-panel__holder {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: start;
	    justify-content: flex-start;
	box-sizing: border-box;
	padding: 0 8px;
}

@media (max-width: 479px) {
	.spec-panel__holder {
		padding: 0 6px;
	}
}

.spec-panel__layout,
.spec-panel__holder,
.spec-panel__item,
.spec-panel__footer {
	height: 74px;
}

@media (max-width: 479px) {
	.spec-panel__layout,
	.spec-panel__holder,
	.spec-panel__item,
	.spec-panel__footer {
		height: 56px;
	}
}

.spec-panel__item, .spec-panel__footer {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: start;
	    justify-content: flex-start;
	-ms-flex-align: center;
	    align-items: center;
	padding: 0 8px;
}

@media (max-width: 479px) {
	.spec-panel__item, .spec-panel__footer {
		padding: 0 6px;
	}
}

.spec-panel__footer {
	margin-left: auto;
}

.spec-panel__label {
	white-space: nowrap;
	padding-right: 8px;
	font-family: inherit;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: normal;
	word-spacing: normal;
	word-break: normal;
}

@media (max-width: 767px) {
	.spec-panel__label {
		display: none;
	}
}

.spec-panel__btn-group {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
	border-color: currentColor;
	margin-right: 8px;
}

@media (max-width: 479px) {
	.spec-panel__btn-group {
		margin-right: 6px;
	}
}

.spec-panel__btn-group:last-child {
	margin-right: 0;
}

.spec-panel__btn {
	position: relative;
	display: inline-block;
	vertical-align: top;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: start;
	    justify-content: flex-start;
	-ms-flex-align: center;
	    align-items: center;
	width: 42px;
	height: 42px;
	margin-right: 8px;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: normal;
	word-spacing: normal;
	border-radius: 4px;
	border: 1px solid currentColor;
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
	-webkit-user-select: none !important;
	   -moz-user-select: none !important;
	    -ms-user-select: none !important;
	        user-select: none !important;
}

.spec-panel__btn, .vspec .spec-panel__btn {
	text-decoration: none;
	color: currentColor;
}

@media (max-width: 479px) {
	.spec-panel__btn {
		width: 36px;
		height: 36px;
		margin-right: 6px;
	}
}

.spec-panel__btn:last-child {
	margin-right: 0;
}

.spec-panel__btn > span {
	display: none;
}

.spec-panel__btn svg {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	box-sizing: border-box;
}

@media (max-width: 479px) {
	.spec-panel__btn svg {
		-ms-transform: translate(-50%, -50%) scale(0.85);
		    transform: translate(-50%, -50%) scale(0.85);
	}
}

.spec-panel__btn path {
	fill: currentColor;
}

.spec-panel__btn::before, .spec-panel__btn::after {
	display: none;
	content: "";
	position: absolute;
	left: 50%;
	margin: -1px 0 -1px -12px;
	pointer-events: none;
}

.spec-panel__btn::before {
	bottom: 100%;
	width: 0;
	height: 0;
	z-index: 2;
	border-top: 10px solid currentColor;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
}

.spec-panel__btn::after {
	top: 100%;
	width: 0;
	height: 0;
	z-index: 2;
	border-bottom: 10px solid currentColor;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
}

.spec-panel__btn:hover, .spec-panel__btn:focus {
	outline: none;
	box-shadow: 0 0 0 2px #fff, 0 0 0 5px #000;
}

.vspec-mod_scheme-color_white .spec-panel__btn:hover, .vspec-mod_scheme-color_white .spec-panel__btn:focus {
	box-shadow: 0 0 0 2px #000, 0 0 0 5px #fff;
}

.vspec-mod_scheme-color_blue .spec-panel__btn:hover, .vspec-mod_scheme-color_blue .spec-panel__btn:focus {
	box-shadow: 0 0 0 2px #c8e5ff, 0 0 0 5px #004c92;
}

.vspec-mod_scheme-color_brown .spec-panel__btn:hover, .vspec-mod_scheme-color_brown .spec-panel__btn:focus {
	box-shadow: 0 0 0 2px #f7f3d6, 0 0 0 5px #4d4b43;
}

.vspec-mod_scheme-color_green .spec-panel__btn:hover, .vspec-mod_scheme-color_green .spec-panel__btn:focus {
	box-shadow: 0 0 0 2px #3b2716, 0 0 0 5px #a9e44d;
}

.spec-panel__btn.active:hover, .spec-panel__btn.active:focus {
	box-shadow: inset 0 0 0 3px currentColor, 0 0 0 2px #fff, 0 0 0 5px #000;
}

.vspec-mod_scheme-color_white .spec-panel__btn.active:hover, .vspec-mod_scheme-color_white .spec-panel__btn.active:focus {
	box-shadow: inset 0 0 0 3px currentColor, 0 0 0 2px #000, 0 0 0 5px #fff;
}

.vspec-mod_scheme-color_blue .spec-panel__btn.active:hover, .vspec-mod_scheme-color_blue .spec-panel__btn.active:focus {
	box-shadow: inset 0 0 0 3px currentColor, 0 0 0 2px #c8e5ff, 0 0 0 5px #004c92;
}

.vspec-mod_scheme-color_brown .spec-panel__btn.active:hover, .vspec-mod_scheme-color_brown .spec-panel__btn.active:focus {
	box-shadow: inset 0 0 0 3px currentColor, 0 0 0 2px #f7f3d6, 0 0 0 5px #4d4b43;
}

.vspec-mod_scheme-color_green .spec-panel__btn.active:hover, .vspec-mod_scheme-color_green .spec-panel__btn.active:focus {
	box-shadow: inset 0 0 0 3px currentColor, 0 0 0 2px #3b2716, 0 0 0 5px #a9e44d;
}

.spec-panel__btn.active[tabindex="-1"] {
	cursor: default;
}

.spec-panel__btn.active, .spec-panel__btn.active[tabindex="-1"]:hover, .spec-panel__btn.active[tabindex="-1"]:focus {
	box-shadow: inset 0 0 0 3px currentColor;
}

.spec-panel__btn.active::before, .spec-panel__btn.active::after {
	display: block;
}

@media (max-width: 479px) {
	.spec-panel__btn.active::before, .spec-panel__btn.active::after {
		display: none;
	}
}

.spec-panel__btn_color_def, .vspec .spec-panel__btn_color_def {
	color: #000;
	background-color: #fff;
}

.spec-panel__btn_color_white, .vspec .spec-panel__btn_color_white {
	color: #fff;
	background-color: #000;
}

.spec-panel__btn_color_blue, .vspec .spec-panel__btn_color_blue {
	color: #004c92;
	background-color: #c8e5ff;
}

.spec-panel__btn_color_brown, .vspec .spec-panel__btn_color_brown {
	color: #4d4b43;
	background-color: #f7f3d6;
}

.spec-panel__btn_color_green, .vspec .spec-panel__btn_color_green {
	color: #a9e44d;
	background-color: #3b2716;
}

.spec-panel__btn_spacing_sm .icon, .spec-panel__btn_spacing_sm .icon::before, .spec-panel__btn_spacing_sm .icon::after, .spec-panel__btn_spacing_md .icon, .spec-panel__btn_spacing_md .icon::before, .spec-panel__btn_spacing_md .icon::after, .spec-panel__btn_spacing_lg .icon, .spec-panel__btn_spacing_lg .icon::before, .spec-panel__btn_spacing_lg .icon::after {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	height: 16px;
	width: 2px;
	background-color: currentColor;
}

.spec-panel__btn_spacing_sm .icon, .spec-panel__btn_spacing_md .icon, .spec-panel__btn_spacing_lg .icon {
	margin: -8px 0 0 -1px;
}

@media (max-width: 479px) {
	.spec-panel__btn_spacing_sm .icon, .spec-panel__btn_spacing_md .icon, .spec-panel__btn_spacing_lg .icon {
		-ms-transform: scale(0.85);
		    transform: scale(0.85);
	}
}

.spec-panel__btn_spacing_sm .icon::before, .spec-panel__btn_spacing_sm .icon::after, .spec-panel__btn_spacing_md .icon::before, .spec-panel__btn_spacing_md .icon::after, .spec-panel__btn_spacing_lg .icon::before, .spec-panel__btn_spacing_lg .icon::after {
	content: "";
	margin-top: -8px;
}

.spec-panel__btn_spacing_sm .icon::before, .spec-panel__btn_spacing_md .icon::before, .spec-panel__btn_spacing_lg .icon::before {
	margin-left: -6px;
}

.spec-panel__btn_spacing_sm .icon::after, .spec-panel__btn_spacing_md .icon::after, .spec-panel__btn_spacing_lg .icon::after {
	margin-left: 4px;
}

.spec-panel__btn_spacing_md .icon::before {
	margin-left: -9px;
}

.spec-panel__btn_spacing_md .icon::after {
	margin-left: 7px;
}

.spec-panel__btn_spacing_lg .icon::before {
	margin-left: -12px;
}

.spec-panel__btn_spacing_lg .icon::after {
	margin-left: 10px;
}

@media (min-width: 980px) {
	.spec-panel__btn_settings, .spec-panel__btn_search {
		width: auto;
		padding-left: 40px;
		padding-right: 10px;
	}
	.spec-panel__btn_settings svg, .spec-panel__btn_search svg {
		left: 5px;
		-ms-transform: translate(0, -50%);
		    transform: translate(0, -50%);
	}
	.spec-panel__btn_settings > span, .spec-panel__btn_search > span {
		display: block;
	}
}

.spec-drop {
	background-color: #fff;
	overflow: hidden;
	display: none;
}

.vspec-mod_scheme-color_white .spec-drop {
	background-color: #000;
}

.vspec-mod_scheme-color_blue .spec-drop {
	background-color: #c8e5ff;
}

.vspec-mod_scheme-color_brown .spec-drop {
	background-color: #f7f3d6;
}

.vspec-mod_scheme-color_green .spec-drop {
	background-color: #3b2716;
}

.spec-drop__layout {
	padding: 16px;
	border-top: 2px solid currentColor;
}

@media (max-width: 639px) {
	.spec-drop__layout {
		padding: 12px;
	}
}

.spec-drop__title {
	font-size: 2em;
	line-height: 1.33;
	font-weight: bold;
	word-wrap: break-word;
	margin-bottom: 8px;
}

@media (max-width: 479px) {
	.spec-drop__title {
		margin-bottom: 6px;
	}
}

.spec-drop__item + .spec-drop__title {
	margin-top: 32px;
}

@media (max-width: 479px) {
	.spec-drop__title {
		margin-bottom: 24px;
	}
}

.spec-drop__item, .spec-drop__footer {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: start;
	    justify-content: flex-start;
	-ms-flex-align: center;
	    align-items: center;
	margin: 8px 0 0;
}

@media (max-width: 479px) {
	.spec-drop__item, .spec-drop__footer {
		margin: 6px 0 0;
	}
}

.spec-drop__title + .spec-drop__item, .spec-drop__title + .spec-drop__footer {
	margin-top: 0;
}

.spec-drop__footer {
	margin-top: 32px;
	padding-top: 16px;
	border-top: 2px solid currentColor;
	-ms-flex-pack: end;
	    justify-content: flex-end;
}

@media (max-width: 479px) {
	.spec-drop__footer {
		margin-top: 24px;
		padding-top: 12px;
	}
}

.spec-drop__label {
	display: inline-block;
	vertical-align: top;
	margin: 8px;
	margin-left: 0;
	font-size: 1.22em;
	line-height: 1.55;
	word-wrap: break-word;
}

@media (max-width: 479px) {
	.spec-drop__label {
		margin: 6px;
		margin-left: 0;
	}
}

.spec-drop__btn-group {
	display: inline-block;
	vertical-align: top;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: start;
	    justify-content: flex-start;
	-ms-flex-align: center;
	    align-items: center;
	-ms-flex-align: stretch;
	    align-items: stretch;
	margin-right: 8px;
}

@media (max-width: 479px) {
	.spec-drop__btn-group {
		margin-right: 6px;
	}
}

.spec-drop__btn-group:last-child {
	margin-right: 0;
}

.spec-drop__btn {
	position: relative;
	display: inline-block;
	vertical-align: top;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: start;
	    justify-content: flex-start;
	-ms-flex-align: center;
	    align-items: center;
	margin: 8px;
	margin-left: 0;
	padding: 0 0.5em;
	min-height: 50px;
	border-radius: 4px;
	box-sizing: border-box;
	border: 1px solid currentColor;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
	-webkit-user-select: none !important;
	   -moz-user-select: none !important;
	    -ms-user-select: none !important;
	        user-select: none !important;
}

.spec-drop__btn, .vspec .spec-drop__btn {
	text-decoration: none;
	color: currentColor;
}

@media (max-width: 479px) {
	.spec-drop__btn {
		margin: 6px;
		margin-left: 0;
	}
}

.spec-drop__btn svg {
	box-sizing: border-box;
	margin-right: 5px;
}

.spec-drop__btn path {
	fill: currentColor;
}

.spec-drop__btn .icon {
	display: none;
}

.spec-drop__btn::before, .spec-drop__btn::after {
	display: none;
	content: "";
	position: absolute;
	left: 50%;
	margin: -1px 0 -1px -12px;
	pointer-events: none;
}

.spec-drop__btn::before {
	bottom: 100%;
	width: 0;
	height: 0;
	z-index: 2;
	border-top: 10px solid currentColor;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
}

.spec-drop__btn::after {
	top: 100%;
	width: 0;
	height: 0;
	z-index: 2;
	border-bottom: 10px solid currentColor;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
}

.spec-drop__btn:hover, .spec-drop__btn:focus {
	outline: none;
	box-shadow: 0 0 0 2px #fff, 0 0 0 5px #000;
}

.vspec-mod_scheme-color_white .spec-drop__btn:hover, .vspec-mod_scheme-color_white .spec-drop__btn:focus {
	box-shadow: 0 0 0 2px #000, 0 0 0 5px #fff;
}

.vspec-mod_scheme-color_blue .spec-drop__btn:hover, .vspec-mod_scheme-color_blue .spec-drop__btn:focus {
	box-shadow: 0 0 0 2px #c8e5ff, 0 0 0 5px #004c92;
}

.vspec-mod_scheme-color_brown .spec-drop__btn:hover, .vspec-mod_scheme-color_brown .spec-drop__btn:focus {
	box-shadow: 0 0 0 2px #f7f3d6, 0 0 0 5px #4d4b43;
}

.vspec-mod_scheme-color_green .spec-drop__btn:hover, .vspec-mod_scheme-color_green .spec-drop__btn:focus {
	box-shadow: 0 0 0 2px #3b2716, 0 0 0 5px #a9e44d;
}

.spec-drop__btn.active:hover, .spec-drop__btn.active:focus {
	box-shadow: inset 0 0 0 3px currentColor, 0 0 0 2px #fff, 0 0 0 5px #000;
}

.vspec-mod_scheme-color_white .spec-drop__btn.active:hover, .vspec-mod_scheme-color_white .spec-drop__btn.active:focus {
	box-shadow: inset 0 0 0 3px currentColor, 0 0 0 2px #000, 0 0 0 5px #fff;
}

.vspec-mod_scheme-color_blue .spec-drop__btn.active:hover, .vspec-mod_scheme-color_blue .spec-drop__btn.active:focus {
	box-shadow: inset 0 0 0 3px currentColor, 0 0 0 2px #c8e5ff, 0 0 0 5px #004c92;
}

.vspec-mod_scheme-color_brown .spec-drop__btn.active:hover, .vspec-mod_scheme-color_brown .spec-drop__btn.active:focus {
	box-shadow: inset 0 0 0 3px currentColor, 0 0 0 2px #f7f3d6, 0 0 0 5px #4d4b43;
}

.vspec-mod_scheme-color_green .spec-drop__btn.active:hover, .vspec-mod_scheme-color_green .spec-drop__btn.active:focus {
	box-shadow: inset 0 0 0 3px currentColor, 0 0 0 2px #3b2716, 0 0 0 5px #a9e44d;
}

.spec-drop__btn.active[tabindex="-1"] {
	cursor: default;
}

.spec-drop__btn.active, .spec-drop__btn.active[tabindex="-1"]:hover, .spec-drop__btn.active[tabindex="-1"]:focus {
	box-shadow: inset 0 0 0 3px currentColor;
}

.spec-drop__btn.active::before, .spec-drop__btn.active::after {
	display: block;
}

@media (max-width: 479px) {
	.spec-drop__btn.active::before, .spec-drop__btn.active::after {
		display: none;
	}
}

.spec-drop__btn_sans-serif {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.spec-drop__btn_serif {
	font-family: "Times New Roman", Times, Georgia, serif;
}

.spec-drop__btn_monospace {
	font-family: Consolas, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
}

.spec-drop__btn_size_sm {
	font-size: 14px;
}

.spec-drop__btn_size_md {
	font-size: 18px;
}

.spec-drop__btn_size_lg {
	font-size: 30px;
}

.spec-drop__btn_spacing_norm {
	letter-spacing: normal;
	word-spacing: normal;
}

.spec-drop__btn_spacing_md {
	letter-spacing: 0.2em;
	word-spacing: 0.2em;
}

.spec-drop__btn_spacing_lg {
	letter-spacing: 0.5em;
	word-spacing: 0.5em;
}

.spec-drop__btn_color_def, .vspec .spec-drop__btn_color_def {
	color: #000;
	background-color: #fff;
}

.spec-drop__btn_color_white, .vspec .spec-drop__btn_color_white {
	color: #fff;
	background-color: #000;
}

.spec-drop__btn_color_blue, .vspec .spec-drop__btn_color_blue {
	color: #004c92;
	background-color: #c8e5ff;
}

.spec-drop__btn_color_brown, .vspec .spec-drop__btn_color_brown {
	color: #4d4b43;
	background-color: #f7f3d6;
}

.spec-drop__btn_color_green, .vspec .spec-drop__btn_color_green {
	color: #a9e44d;
	background-color: #3b2716;
}

/*button switch special version */
.spec-btn-switcher {
	position: fixed;
	left: 10px;
	top: 10px;
	padding-left: 1.9em;
	font-family: 'lato-regular', sans-serif;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: normal;
	color: inherit;
	font-style: normal;
	box-sizing: border-box;
	z-index: 9999;
}

.vspec .spec-btn-switcher {
	font-family: inherit;
	font-weight: bold;
}

body:not(.vspec) .spec-btn-switcher.to_normal {
	display: none;
}

.vspec .spec-btn-switcher:not(.to_normal) {
	display: none;
}

.spec-btn-switcher svg {
	width: 1.4em;
	height: 1.4em;
	position: absolute;
	left: 0;
	top: 50%;
	-ms-transform: translate(0, -50%);
	    transform: translate(0, -50%);
	box-sizing: border-box;
}

.spec-btn-switcher path {
	fill: currentColor;
}

.header .spec-btn-switcher {
	position: absolute;
	left: auto;
	right: 15px;
	top: 15px;
}

@media (max-width: 979px) {
	.header .spec-btn-switcher {
		right: 55px;
		top: 5px;
		color: white;
	}
}

.home-page .header .spec-btn-switcher {
	color: white;
}

@media (max-width: 979px) {
	.header .spec-btn-switcher span {
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
	}
}

@media (max-width: 639px) {
	.header .spec-btn-switcher span {
		width: 95px;
		font-size: 13px;
		line-height: 15px;
	}
}

@media (max-width: 558px) {
	.header .spec-btn-switcher:not(.to_normal) {
		right: 40px;
		top: 0;
		height: 40px;
		width: 40px;
		padding-left: 0;
		box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.35);
	}
}

@media (max-width: 479px) {
	.header .spec-btn-switcher:not(.to_normal) {
		right: 30px;
	}
}

@media (max-width: 558px) {
	.header .spec-btn-switcher:not(.to_normal) svg {
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		    transform: translate(-50%, -50%);
	}
}

@media (max-width: 558px) {
	.header .spec-btn-switcher:not(.to_normal) span {
		display: none;
	}
}

.vspec .header .spec-btn-switcher {
	color: currentColor;
	top: auto;
	right: 0;
	bottom: 60px;
}

@media (max-width: 979px) {
	.vspec .header .spec-btn-switcher {
		top: auto;
		bottom: 24px;
		right: 0;
	}
}

@media (max-width: 639px) {
	.vspec .header .spec-btn-switcher {
		-ms-flex-order: 4;
		    order: 4;
		position: relative;
		top: auto;
		bottom: auto;
		right: auto;
		-ms-flex-item-align: self-start;
		    -ms-grid-row-align: self-start;
		    align-self: self-start;
	}
}

.vspec .header .spec-btn-switcher span {
	width: auto;
	line-height: inherit;
}

.footer .spec-btn-switcher {
	position: absolute;
	left: auto;
	top: auto;
	bottom: 10px;
	color: rgba(255, 255, 255, 0.8);
}

.vspec .footer .spec-btn-switcher {
	color: currentColor;
	position: relative;
	bottom: auto;
}

/*button switch special version end */
.footer-nav {
	position: relative;
}

/*# sourceMappingURL=special-version-base.css.map */
