@import ../../libs/include-media/dist/include-media
@import ../utils/special-version-variables
@import ../utils/mixins

.#{$spec-mod}
	// .extra-popup
	$head-height: 60px
	$head-height--sm: 50px

	.extra-popup
		//padding-left: nth($spec-panel-size, 2)
		+spec-reset-bg
		//border: $spec-border-width solid currentColor
		border: none
		box-sizing: border-box

	.extra-popup__head
		$close-btn-width: 120px
		$close-btn-width--sm: 80px

		height: $head-height
		display: flex
		justify-content: center
		align-items: center
		border: 0 solid currentColor
		border-width: $spec-border-width 0

		+media('<desk-hd')
			padding-right: $close-btn-width
			padding-left: nth($spec-panel-size, 2)

		+media('<mob-md')
			height: $head-height--sm
			padding-left: 0
			padding-right: $close-btn-width--sm

		.logo
			position: relative
			opacity: 1
			visibility: visible
			width: 215px
			height: auto
			margin: 0
			left: auto
			top: auto
			padding-left: 0
			background-image: url(../../img/logo-text--bw.svg)
			transition: none
			font-size: 0
			line-height: 0

			+media('<mob-md')
				width: 180px

			.#{$spec-mod--scheme-wb} &
				background-image: url(../../img/logo-text--wb.svg)

			.#{$spec-mod--scheme-blue} &
				background-image: url(../../img/logo-text--blue.svg)

			.#{$spec-mod--scheme-brown} &
				background-image: url(../../img/logo-text--brown.svg)

			.#{$spec-mod--scheme-green} &
				background-image: url(../../img/logo-text--green.svg)

			&::before
				content: ""
				display: block
				+ratio(215, 18)

		.btn-menu-close
			position: absolute
			left: auto
			bottom: auto
			top: -$spec-border-width
			height: calc(100% + #{round($spec-border-width * 2)})
			width: $close-btn-width
			border-width: $spec-border-width
			border-right: none
			visibility: visible
			opacity: 1

			+media('<mob-md')
				width: $close-btn-width--sm

			& > i
				background: none

	.extra-popup.show-shadow
		.extra-popup__head
			box-shadow: 0 0 35px rgba($spec-text-color, 0.35)

			.#{$spec-mod--scheme-wb} &
				box-shadow: 0 0 35px rgba($spec-text-color--scheme-wb, 1)

			.#{$spec-mod--scheme-blue} &
				box-shadow: 0 0 35px rgba($spec-text-color--scheme-blue, 0.35)

			.#{$spec-mod--scheme-brown} &
				box-shadow: 0 0 35px rgba($spec-text-color--scheme-brown, 0.35)

			.#{$spec-mod--scheme-green} &
				box-shadow: 0 0 35px rgba($spec-text-color--scheme-green, 0.35)

	.main-menu__box, .main-menu__heading
		font-size: $spec-font-size--medium

		.#{$spec-mod--font-small} &
			font-size: $spec-font-size--small

		.#{$spec-mod--font-large} &
			font-size: $spec-font-size--large

	.extra-popup__content
		height: calc(100% - #{$head-height})
		padding: 30px 0 10px

		+media('<desk-qhd')
			height: calc(100% - #{$head-height--sm})

	.main-menu__box
		.#{$spec-mod--font-large} &
			width: 50.0%

	.main-menu__list
		li
			padding-top: 0
			padding-left: round-float(25px / $spec-font-size, 2) * 1em
			margin-top: 0.5em

		& > li
			padding-left: 0

			&:first-child
				margin-top: 0

		a
			padding-top: 0.5em

			&:hover
				color: inherit

		ul
			li
				&::before
					$size: round-float(10px / $spec-font-size, 1) * 1em
					top: 0.7em
					+size($size)
					border-radius: 20px
					background-color: currentColor

	.search-form

	.search-form__label
		label
			font-size: 24px
			line-height: 50px

		&::before, &::after
			background-color: currentColor

	input.search-form__input
		&, &:hover, &:focus
			font-size: 20px
			outline: none

	.search-form__btn
		input
			display: block
			width: 100%
			height: 100%
			padding: 0

		svg
			path
				fill: currentColor

	// focus
	.search-form__input:focus,
	.input--filled .search-form__input
		color: $spec-bg-color

		.#{$spec-mod--scheme-wb} &
			color: $spec-bg-color--scheme-wb

		.#{$spec-mod--scheme-blue} &
			color: $spec-bg-color--scheme-blue

		.#{$spec-mod--scheme-brown} &
			color: $spec-bg-color--scheme-brown

		.#{$spec-mod--scheme-green} &
			color: $spec-bg-color--scheme-green

		.search-form__label, & + .search-form__label
			label
				color: inherit

		& ~ .search-form__btn, .search-form__btn
			color: $spec-bg-color

			.#{$spec-mod--scheme-wb} &
				color: $spec-bg-color--scheme-wb

			.#{$spec-mod--scheme-blue} &
				color: $spec-bg-color--scheme-blue

			.#{$spec-mod--scheme-brown} &
				color: $spec-bg-color--scheme-brown

			.#{$spec-mod--scheme-green} &
				color: $spec-bg-color--scheme-green

			svg path
				fill: currentColor