@import ../../libs/include-media/dist/include-media
@import ../utils/special-version-variables
@import ../utils/mixins

.#{$spec-mod}
	// vertical space - default
	// ---------------------------------------------------------------------------
	h1, h2, h3, h4, h5, h6,
	p, hr, blockquote,
	blockquote q,
	blockquote > p,
	.files,
	.files .files-item,
	.promo-slider__bg,
	.spec-bottom-space,
	.spec-bottom-space
		margin-bottom: $spec-bottom-space

		&:last-child
			margin-bottom: 0

	// vertical space - section
	// ---------------------------------------------------------------------------
	.content-head,
	.promo-section,
	.regard-section,
	.links-section,
	.info-center-section,
	.branches-section,
	.spec-bottom-space-section,
	.spec-bottom-space-section
		margin-bottom: $spec-bottom-space-section

		&:last-child
			margin-bottom: 0

	// vertical space - item
	// ---------------------------------------------------------------------------
	.datetime,
	.promo-slider__item,
	.regard__item,
	.r-tabs .tabs-panel,
	.spec-bottom-space-item,
	.spec-bottom-space-item
		margin-bottom: $spec-bottom-space-item

		&:last-child
			margin-bottom: 0

	// vertical space - element
	// ---------------------------------------------------------------------------
	.links__item,
	.spec-bottom-space-element,
	.spec-bottom-space-element
		margin-bottom: $spec-bottom-space-element

		&:last-child
			margin-bottom: 0